<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de usuário</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${usuario.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2" sec:authorize="hasRole('CADASTRAR_USUARIO')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/usuarios(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${usuario}" class="form-vertical"
				th:action="${usuario.novo} ? @{/{tenantid}/usuarios/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/usuarios/{codigo}(codigo=${usuario.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="col-md-12 col-lg-3  form-group y-required" controle-estoque:classforerror="cpf">
					<label for="cpf" class="control-label">CPF</label>
					<input id="cpf" type="text" class="form-control  js-mascara-cpf" th:field="*{cpf}" th:readonly="${usuario.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6  y-required" controle-estoque:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" th:readonly="${usuario.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-6  y-required" controle-estoque:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" th:readonly="${usuario.detalhes}"/>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-md-12 col-lg-3  y-required" controle-estoque:classforerror="telefone">
					<label for="telefone" class="control-label">Telefone</label>
					<input type="text" class="form-control  js-phone-number" id="telefone" th:field="*{telefone}" th:readonly="${usuario.detalhes}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3 y-required" controle-estoque:classforerror="dataNascimento">
					<label for="dataNascimento" class="control-label">Data de nascimento</label>
					<input type="text" class="form-control  js-date" id="dataNascimento" th:field="*{dataNascimento}" th:readonly="${usuario.detalhes}"
						 autocomplete="off"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3" controle-estoque:classforerror="senha" th:classappend="${usuario.novo} ? y-required">
					<label for="senha" class="control-label">Senha</label> 
					<input type="password" class="form-control" id="senha" th:field="*{senha}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3" controle-estoque:classforerror="senha">
					<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" th:field="*{confirmacaoSenha}"/>
				</div>
			</div>
			
			<div class="row" th:classappend="${usuario.detalhes} ? 'hidden'">
				<div class="form-group  col-xs-12  y-required" controle-estoque:classforerror="grupos">
					<label class="control-label">Grupos</label> 
					<div>
						<th:block th:each="grupo : ${grupos}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${grupo}|" th:field="*{grupos}" th:value="${grupo.codigo}" 
									class="js-grupos" data:grupo="${grupo.codigo}"> 
								<label class="control-label" th:for="|id_${grupo}|" th:text="${grupo.nome}">Administrador</label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<div class="row  hidden  js-container-deposito">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="deposito">
					<fieldset>
						<legend>Empresa / Depósito*</legend>
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1">
								<fieldset>
									<legend>Empresa</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoEmpresa">Código</label>
											<input id="codigoEmpresa" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.empresa.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-3">
											<label for="cnpjEmpresa" class="control-label">CNPJ</label>
											<input type="text" class="form-control js-mascara-cnpj" id="cnpjEmpresa" 
												th:field="*{deposito.empresa.cpfOuCnpj}" readonly="readonly"/>
										</div>
										
										<div class="form-group  col-md-12 col-lg-7">
											<label for="descricaoEmpresa" class="control-label">Nome empresarial</label>
											<input type="text" class="form-control" id="descricaoEmpresa" 
												th:field="*{deposito.empresa.nomeEmpresarial}" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1  y-required">
								<fieldset>
									<legend>Depósito</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoDeposito">Código</label>
											<input id="codigoDeposito" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-10">
											<label class="control-label" for="descricaoDeposito">Descrição</label>
											<div class="input-group">
												<input id="descricaoDeposito" type="text" readonly="readonly" class="form-control" 
													th:field="*{deposito.descricao}" placeholder="Clique na lupa para pesquisar o depósito"/>
										      	<span class="input-group-btn">
										        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${usuario.detalhes}"
										        			data-toggle="modal" data-target="#pesquisaRapidaDepositos">
										        		<i class="glyphicon  glyphicon-search"></i>
										       		</button>
										     	 </span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" disabled id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Situação</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{situacao}" th:readonly="${usuario.detalhes}"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
	
	<th:block th:replace="deposito/PesquisaRapidaDepositos :: pesquisaRapidaDepositos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/usuario.min.js}"></script>
	<script th:src="@{/javascripts/min/deposito.pesquisa-rapida.min.js}"></script>
</th:block>
</html>