<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de usuários</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de usuários</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/usuarios/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${usuarioFilter}" th:action="@{/{tenantid}/usuarios(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
				<div class="form-group  col-sm-6">
					<label class="control-label" for="email">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label">Grupos</label> 
					<div>
						<th:block th:each="grupo : ${grupos}">
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
		    					<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
	    					</div>
	    				</th:block>
					</div>
  				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	                 	<th class="table-col-acoes">Ações</th>
	            		<th class="table-usuarios-col-nome">Nome</th>
	                	<th class="table-usuarios-col-email">E-mail</th>
	                	<th class="table-usuarios-col-grupo">Grupo</th>
	                	<th class="table-usuarios-col-status">Status</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="usuario : ${pagina.conteudo}">
	                 	<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
									th:href="@{/{tenantid}/usuarios/{codigo}(tenantid=${tenantid}, codigo=${usuario.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/{tenantid}/usuarios/{codigo}(tenantid=${tenantid}, codigo=${usuario.codigo})}"
									data:objeto="${usuario.nome}" th:if="${#authentication.principal.usuario.codigo != usuario.codigo}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						<td><a class="js-tooltip" title="Editar" rel="tooltip" data-placement="top"
							th:href="@{/{tenantid}/usuarios/{codigo}(tenantid=${tenantid}, codigo=${usuario.codigo})}"
							th:text="${usuario.nome}"></a></td>
						<td th:text="${usuario.email}"></td>
						<td>
							<span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span>
						</td>
						<td>
							<th:block th:if="${usuario.situacao}">
								<span class="label  label-success">Ativo</span>
							</th:block>
							<th:block th:if="${not usuario.situacao}">
								<span class="label  label-danger">Inativo</span>
							</th:block>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="4">Nenhum usuário encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>