<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de empresa</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${empresa.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/empresas(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${empresa}" class="form-vertical"
				th:action="${empresa.novo} ? @{/{tenantid}/empresas/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/empresas/{codigo}(codigo=${empresa.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<input type="hidden" id="tipoPessoa" th:field="*{tipoPessoa}"/>
				<input type="hidden" id="possuiEstoque" th:field="*{possuiEstoque}"/>
				<!-- <div class="form-group  col-lg-2">
					<label class="control-label">Possui estoque</label>
					<div>
						<input type="checkbox" class="js-situacao  js-local-fixo" data-size="small" data-off-color="primary" 
							data-on-text="Sim" data-off-text="Não" th:field="*{possuiEstoque}" th:disabled="${empresa.detalhes}"/>
					</div>
				</div> -->
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="unidadeEmpresa">
					<label for="unidadeEmpresa" class="control-label">Unidade</label>
					<select id="unidadeEmpresa" class="form-control" th:field="*{unidadeEmpresa}" th:disabled="${empresa.detalhes}">
	                    <option value="">Selecione a unidade</option>
	                    <option th:each="unidadeEmpresa : ${unidadesEmpresas}" th:value="${unidadeEmpresa}" th:text="${unidadeEmpresa.descricao}">Matriz</option>
	                </select>
				</div>
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="cpfOuCnpj">
					<label for="cpfOuCnpj" class="control-label">CNPJ</label>
					<input type="text" class="form-control js-mascara-cnpj" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-8 y-required" controle-estoque:classforerror="nomeEmpresarial">
					<label for="nomeEmpresarial" class="control-label">Nome empresarial</label>
					<input type="text" class="form-control" id="nomeEmpresarial" th:field="*{nomeEmpresarial}" th:disabled="${empresa.detalhes}"/>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6">
					<label for="nomeFantasia" class="control-label">Nome fantasia</label>
					<input type="text" class="form-control" id="nomeFantasia" th:field="*{nomeFantasia}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-6 y-required" controle-estoque:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" th:disabled="${empresa.detalhes}"/>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12 col-lg-3" controle-estoque:classforerror="telefone1">
					<label for="telefone1" class="control-label">Telefone 1</label>
					<input type="text" class="form-control  js-phone-number" id="telefone1" th:field="*{telefone1}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-3" controle-estoque:classforerror="telefone2">
					<label for="telefone2" class="control-label">Telefone 2</label>
					<input type="text" class="form-control  js-phone-number" id="telefone2" th:field="*{telefone2}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-3">
					<label for="fax">Fax</label>
					<input type="text" class="form-control  js-phone-number" id="fax" th:field="*{fax}" th:disabled="${empresa.detalhes}"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-3">
					<label for="celular">Celular</label>
					<input type="text" class="form-control  js-phone-number" id="celular" th:field="*{celular}" th:disabled="${empresa.detalhes}"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="endereco.cep">
					<label for="cep" class="control-label">CEP</label>
					<input type="text" class="form-control js-cep" id="cep" th:field="*{endereco.cep}" th:disabled="${empresa.detalhes}"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-5">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control  js-estado" th:field="*{endereco.estado}" th:disabled="${empresa.detalhes}">
		            	<option value="">Selecione o estado</option>
		                <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
		            </select>
				</div>
					
				<div class="form-group col-md-12 col-lg-5 y-required" controle-estoque:classforerror="endereco.cidade">
					<label  for="cidade" class="control-label">Cidade</label>
					<div class="y-field-action">
						<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
						<select id="cidade" class="form-control  js-cidade" data:url="@{/cidades}" 
								th:field="*{endereco.cidade}" th:disabled="${empresa.detalhes}">
						</select>
							
						<div class="y-field-action__icon  js-img-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-10 y-required" controle-estoque:classforerror="endereco.logradouro">
					<label for="logradouro" class="control-label">Logradouro</label>
					<input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="endereco.numero">
					<label for="numero" class="control-label">Número</label>
					<input type="text" class="form-control  js-plain" id="numero" th:field="*{endereco.numero}" th:disabled="${empresa.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6">
					<label for="complemento">Complemento</label>
					<input type="text" class="form-control" id="complemento" th:field="*{endereco.complemento}" th:disabled="${empresa.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-6 y-required" controle-estoque:classforerror="endereco.bairro">
					<label for="bairro" class="control-label">Bairro</label>
					<input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}" th:disabled="${empresa.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${empresa.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${empresa.detalhes}">Salvar</button>
		</form>
	</div>

</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/min/combo-estado-cidade.min.js}"></script>
</th:block>
</html>