<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de localização</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${localizacao.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/localizacoes(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${localizacao}" class="form-vertical"
				th:action="${localizacao.novo} ? @{/{tenantid}/localizacoes/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/localizacoes/{codigo}(codigo=${localizacao.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" id="codigoProduto" th:field="*{produto.codigo}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="form-group  col-lg-1">
					<label class="control-label">Blocado</label>
					<div>
						<input type="checkbox" class="js-situacao  js-blocado" data-size="small" data-off-color="danger" 
							data-on-text="Sim" data-off-text="Não" th:field="*{blocado}" th:disabled="${localizacao.detalhes}"/>
					</div>
				</div>
				<div class="form-group col-lg-3 y-required" controle-estoque:classforerror="endereco">
					<label for="endereco" class="control-label">Endereço da localização</label>
					<input type="text" class="form-control  js-endereco-localizacao" id="endereco" 
						th:field="*{endereco}" th:disabled="${localizacao.detalhes}"/>
				</div>
				<div class="form-group col-lg-8 y-required" controle-estoque:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<input type="text" class="form-control" id="descricao" th:field="*{descricao}" th:disabled="${localizacao.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-3 y-required" controle-estoque:classforerror="tipoUnidadeMedida" th:if="${localizacao.novo}">
					<label for="tipoUnidadeMedida" class="control-label">Unidade de medida</label>
					<select id="tipoUnidadeMedida" class="form-control js-unidade-medida" th:field="*{tipoUnidadeMedida}" th:disabled="${localizacao.detalhes}">
	                    <option value="">Selecione a unidade de medida</option>
	                    <option th:each="tipoUnidadeMedida : ${tiposUnidadesDeMedida}" th:value="${tipoUnidadeMedida}"
	                    		th:text="${tipoUnidadeMedida.descricao}" th:data:sigla="${tipoUnidadeMedida}">Kg</option>
	                </select>
				</div>
				
				<div class="col-md-12 col-lg-3  form-group" th:unless="${localizacao.novo}">
					<input type="hidden" id="tipoUnidadeMedida" th:field="*{tipoUnidadeMedida}"/>
					<label for="tipoUnidadeMedidaText" class="control-label">Unidade de medida</label>
					<input id="tipoUnidadeMedidaText" type="text" class="form-control" th:data:sigla="*{tipoUnidadeMedida}"
						th:value="*{tipoUnidadeMedida.descricao}" readonly="readonly"/>
				</div>
				<div class="col-md-12 col-lg-5  form-group  y-required  js-quantidade-estoque" controle-estoque:classforerror="estoqueMinimo">
					<label for="estoqueMinimo" class="control-label">Estoque mínimo</label>
					<div class="input-group">
						<div class="input-group-addon js-sigla-unidade-medida" th:text="${localizacao.tipoUnidadeMedida}"></div>
						<input id="estoqueMinimo" type="text" class="form-control  js-plain" 
							th:field="*{estoqueMinimo}" th:disabled="${localizacao.detalhes}" th:readonly="${localizacao.novo}"/>
					</div>
				</div>
				<div class="col-md-12 col-lg-4  form-group  y-required  js-quantidade-estoque" controle-estoque:classforerror="estoqueMaximo">
					<label for="estoqueMaximo" class="control-label">Estoque máximo</label>
					<div class="input-group">
						<div class="input-group-addon js-sigla-unidade-medida" th:text="${localizacao.tipoUnidadeMedida}"></div>
						<input id="estoqueMaximo" type="text" class="form-control  js-plain" 
							th:field="*{estoqueMaximo}" th:disabled="${localizacao.detalhes}" th:readonly="${localizacao.novo}"/>
					</div>
				</div>
			</div>
			
			<div class="row  js-container-deposito">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="deposito">
					<fieldset>
						<legend>Empresa / Depósito*</legend>
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1">
								<fieldset>
									<legend>Empresa</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoEmpresa">Código</label>
											<input id="codigoEmpresa" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.empresa.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-3">
											<label for="cnpjEmpresa" class="control-label">CNPJ</label>
											<input type="text" class="form-control js-mascara-cnpj" id="cnpjEmpresa" 
												th:field="*{deposito.empresa.cpfOuCnpj}" readonly="readonly"/>
										</div>
										
										<div class="form-group  col-md-12 col-lg-7">
											<label for="descricaoEmpresa" class="control-label">Nome empresarial</label>
											<input type="text" class="form-control" id="descricaoEmpresa" 
												th:field="*{deposito.empresa.nomeEmpresarial}" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1  y-required">
								<fieldset>
									<legend>Depósito</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoDeposito">Código</label>
											<input id="codigoDeposito" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-10">
											<label class="control-label" for="descricaoDeposito">Descrição</label>
											<div class="input-group">
												<input id="descricaoDeposito" type="text" readonly="readonly" class="form-control" 
													th:field="*{deposito.descricao}" placeholder="Clique na lupa para pesquisar o depósito"/>
										      	<span class="input-group-btn">
										        	<button class="btn  btn-default  js-tooltip" type="button"
										        			data-toggle="modal" data-target="#pesquisaRapidaDepositos">
										        		<i class="glyphicon  glyphicon-search"></i>
										       		</button>
										     	 </span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${localizacao.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Situação</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{situacao}" th:disabled="${localizacao.detalhes}"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${localizacao.detalhes}">Salvar</button>
		</form>
	</div>

	<th:block th:replace="deposito/PesquisaRapidaDepositos :: pesquisaRapidaDepositos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/localizacao.min.js}"></script>
	<script th:src="@{/javascripts/min/localizacao.mascara-endereco.min.js}"></script>
	<script th:src="@{/javascripts/min/deposito.pesquisa-rapida.min.js}"></script>
</th:block>
</html>