<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de localizações</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de localizações</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/localizacoes/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova localização</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${localizacaoFilter}" th:action="@{/{tenantid}/localizacoes(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group col-md-12 col-lg-2">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control js-number" id="codigo" th:field="*{codigo}" placeholder="Código" autofocus="autofocus"/>
				</div>

				<div class="form-group col-md-12 col-lg-10">
					<label class="control-label" for="descricao">Descrição</label>
					<input type="text" class="form-control " id="descricao" th:field="*{descricao}" placeholder="Qual depósito você esta procurando?"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  y-tabela-simples">
        	<table class="table  table-bordered">
	            <thead>
	            	<tr>
	                 	<th rowspan="2" class="table-col-acoes">Ações</th>
						<th colspan="4" class="text-center">Localização</th>
						<th colspan="2" class="text-center">Depósido</th>
	            		<th colspan="3" class="text-center">Empresa</th>
	            		<th rowspan="2" class="table-col-situacao">Situação</th>
					</tr>
					<tr>
						<th class="table-col-codigo">Código</th>
	                	<th class="table-col-endereco-localizacao">
	                		<controle-estoque:order page="${pagina}" field="endereco" text="Endereço"/>
	                	</th>
	                	<th class="table-col-descricao">
	                		<controle-estoque:order page="${pagina}" field="descricao" text="Descrição"/>
	                	</th>
	                	<th class="table-col-valores">Estoque mínimo</th>
	                	<th class="table-col-codigo">Código</th>
	                	<th class="table-col-descricao">descricao</th>
						<th class="table-col-codigo">Código</th>
	                	<th class="table-col-cnpj">CNPJ</th>
	                	<th class="table-col-nome-empresarial">Nome empresarial</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="localizacao : ${pagina.conteudo}">
	                 	<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
									th:href="@{/{tenantid}/localizacoes/{codigo}(tenantid=${tenantid}, codigo=${localizacao.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/{tenantid}/localizacoes/{codigo}(tenantid=${tenantid}, codigo=${localizacao.codigo})}"
									data:objeto="${localizacao.descricao}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						<td th:text="${localizacao.codigo}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/localizacoes/{codigo}(tenantid=${tenantid}, codigo=${localizacao.codigo})}"> 
								<span th:text="${localizacao.endereco}"></span>
							</a>
						</td>
						<td th:text="${localizacao.descricao}"></td>
						<td th:text="|${{localizacao.estoqueMinimo}} ${localizacao.tipoUnidadeMedida}|"></td>
						<td th:text="${localizacao.deposito.codigo}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/depositos/{codigo}(tenantid=${tenantid}, codigo=${localizacao.deposito.codigo})}"> 
								<span th:text="${localizacao.deposito.descricao}"></span>
							</a>
						</td>
						<td th:text="${localizacao.deposito.empresa.codigo}"></td>
						<td th:text="${localizacao.deposito.empresa.cpfOuCnpj}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/empresas/{codigo}(tenantid=${tenantid}, codigo=${localizacao.deposito.empresa.codigo})}"> 
								<span th:text="${localizacao.deposito.empresa.nomeEmpresarial}"></span>
							</a>
						</td>
						<td>
							<th:block th:if="${localizacao.situacao}">
								<span class="label  label-success">Ativo</span>
							</th:block>
							<th:block th:if="${not localizacao.situacao}">
								<span class="label  label-danger">Inativo</span>
							</th:block>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="10">Nenhuma localização encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>