<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Movimentação de estoque</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Movimentação de estoque</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/movimentacoes-estoque(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${movimentoEstoque}" class="form-vertical"
				th:action="@{/{tenantid}/movimentacoes-estoque/novo(tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<input type="hidden" id="novoMvtoEstoque" th:value="${movimentoEstoque.novo}"/>
			<input type="hidden" id="destinoSaidaEstoque" th:field="*{destinoSaidaEstoque}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
                
                <div class="col-sm-10  form-group">
                    <label for="nomeUsuario">Usuário</label>
                    <input id="nomeUsuario" type="text" class="form-control" readonly="readonly" th:field="*{usuario.nome}"/>
                </div>
            </div>
            
            <div class="row">
            	<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="fornecedor.codigo">
					<fieldset>
						<legend>Tipo de movimentação</legend>
						<div class="row">
							<input type="hidden" id="tipoMovimento" th:field="*{tipoMovimento}">
			            	<div class="col-lg-4  form-group">
			            		<button type="button" class="btn btn-default js-botao-entrada y-botao-tipo-movimento
			            			js-botao-tipo-movimento" data:tipo-movimento="ENTRADA" th:disabled="${movimentoEstoque.detalhes}">Entrada</button>
			            	</div>
			            	<div class="col-lg-4  form-group">
			            		<button type="button" class="btn btn-default js-botao-transferencia y-botao-tipo-movimento
			            			js-botao-tipo-movimento" data:tipo-movimento="TRANSFERENCIA" th:disabled="${movimentoEstoque.detalhes}">Transferência</button>
			            	</div>
			            	<div class="col-lg-4  form-group">
			            		<button type="button" class="btn btn-default js-botao-saida y-botao-tipo-movimento
			            			js-botao-tipo-movimento" data:tipo-movimento="SAIDA" th:disabled="${movimentoEstoque.detalhes}">Saída</button>
			            	</div>
			            </div>
			        </fieldset>
				</div>
            </div>
            
           <div class="row  js-container-fornecedor" th:classappend="*{{tipoMovimento}} != 'ENTRADA' ? 'hidden'">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="fornecedor.codigo">
					<fieldset>
						<legend>Fornecedor</legend>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoFornecedor">Código</label>
								<input id="codigoFornecedor" type="text" class="form-control" readonly="readonly" th:field="*{fornecedor.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cpfOuCnpjFornecedor" class="control-label">CPF/CNPJ</label>
								<input type="text" class="form-control " id="cpfOuCnpjFornecedor" th:field="*{fornecedor.cpfOuCnpj}" readonly="readonly"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label class="control-label" for="descricaoFornecedor">Nome empresarial</label>
								<div class="input-group">
									<input id="descricaoFornecedor" type="text" readonly="readonly" class="form-control" 
										th:field="*{fornecedor.nomeEmpresarial}" placeholder="Clique na lupa para pesquisar o fornecedor"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button"  th:disabled="${movimentoEstoque.detalhes}"
							        			data-toggle="modal" data-target="#pesquisaRapidaFornecedores">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			 <div class="row js-container-produto" th:classappend="*{{tipoMovimento == null}} ? 'hidden'">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="produto.codigo">
					<fieldset>
						<legend>Produto</legend>
						<div class="row">
							<input type="hidden" id="localFixo" th:field="*{produto.localFixo}"/>
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoProduto">Código</label>
								<input id="codigoProduto" type="text" class="form-control" readonly="readonly" th:field="*{produto.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label class="control-label" for="descricaoProduto">Descrição</label>
								<div class="input-group">
									<input id="descricaoProduto" type="text" readonly="readonly" placeholder="Clique na lupa para pesquisar o produto" 
										class="form-control" th:field="*{produto.descricao}"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${movimentoEstoque.detalhes}"
							        			data-toggle="modal" data-target="#pesquisaRapidaProdutosMvtoEstoque">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
							
							<div class="form-group  col-md-12 col-lg-3" controle-estoque:classforerror="unidadeMedida">
								<input type="hidden" id="familiaUnidadeMedida" th:field="*{unidadeMedida.familia}"/>
								<label for="unidadeMedida" class="control-label">Unidade de medida</label>
								<select id="unidadeMedida" class="form-control" th:field="*{unidadeMedida}"
									data:url-unidade-medida="@{/{tenantid}/unidades-medida/buscar-por-familia(tenantid=${tenantid})}">
				                    <option value="">Selecione a unidade de medida</option>
				                    <option th:each="unidadeMedida : ${unidadesDeMedida}" th:value="${unidadeMedida.codigo}"
				                    		th:text="${unidadeMedida.descricaoComQuantidade}"  th:data:sigla="${unidadeMedida.tipoUnidadeMedida}">Kg</option>
				                </select>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row js-container-localizacao" th:classappend="*{{tipoMovimento == null}} ? 'hidden'">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="produto.codigo">
					<fieldset>
						<legend>Localização</legend>
						<div class="row">
							<input type="hidden" id="codigoLocalizacao" th:field="*{produto.localizacao.codigo}"/>
							<div class="form-group  col-md-12 col-lg-2">
								<label for="enderecoLocalizacao">Endereço localização</label>
								<input id="enderecoLocalizacao" type="text" class="form-control" 
									readonly="readonly" th:field="*{produto.localizacao.endereco}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-4">
								<label for="descricaoLocalizacao">Descrição localização</label>
								<div class="js-input-group">
									<input id="descricaoLocalizacao" type="text" readonly="readonly" class="form-control" 
										th:field="*{produto.localizacao.descricao}" placeholder="Clique na lupa para pesquisar a localização"/>
							      	<span class="input-group-btn hidden">
							        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${movimentoEstoque.detalhes}"
							        			data-toggle="modal" data-target="#pesquisaRapidaLocalizacoesMvtoEstoque">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoDeposito">Código depósito</label>
								<input id="codigoDeposito" type="text" class="form-control" 
									readonly="readonly" th:field="*{produto.localizacao.deposito.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-4">
								<label for="descricaoDeposito">Descrição depósito</label>
								<input id="descricaoDeposito" type="text" class="form-control" 
									readonly="readonly" th:field="*{produto.localizacao.deposito.descricao}"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoEmpresaDeposito">Código empresa</label>
								<input id="codigoEmpresaDeposito" type="text" class="form-control" 
									readonly="readonly" th:field="*{produto.localizacao.deposito.empresa.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cnpjEmpresaDeposito" class="control-label">CNPJ</label>
								<input type="text" class="form-control " id="cnpjEmpresaDeposito" 
									readonly="readonly" th:field="*{produto.localizacao.deposito.empresa.cpfOuCnpj}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label for="nomeEmpresarialEmpresaDeposito" class="control-label">Nome empresarial</label>
								<input type="text" class="form-control" id="nomeEmpresarialEmpresaDeposito" 
									readonly="readonly" th:field="*{produto.localizacao.deposito.empresa.nomeEmpresarial}"/>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row js-container-localizacao-transferencia" th:classappend="*{{tipoMovimento}} != 'TRANSFERENCIA' ? 'hidden'">
				<div class="form-group  col-xs-12  y-fieldset-exterior  y-required" controle-estoque:classforerror="localizacaoTransferencia.codigo">
					<fieldset>
						<legend>Localização transferência</legend>
						<div class="row">
							<input type="hidden" id="codigoLocalizacaoTransferencia" th:field="*{localizacaoTransferencia.codigo}"/>
							<div class="form-group  col-md-12 col-lg-2">
								<label for="enderecoLocalizacaoTransferencia">Endereço localização</label>
								<input id="enderecoLocalizacaoTransferencia" type="text" class="form-control" 
									readonly="readonly" th:field="*{localizacaoTransferencia.endereco}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-4">
								<label for="descricaoLocalizacaoTransferencia">Descrição localização</label>
								<input id="descricaoLocalizacaoTransferencia" type="text" readonly="readonly" class="form-control" 
										th:field="*{localizacaoTransferencia.descricao}"  th:if="${movimentoEstoque.detalhes}"/>
								<div class="input-group" th:unless="${movimentoEstoque.detalhes}">
									<input id="descricaoLocalizacaoTransferencia" type="text" readonly="readonly" class="form-control" 
										th:field="*{localizacaoTransferencia.descricao}" placeholder="Clique na lupa para pesquisar a localização"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button" disabled="disabled"
							        			data-toggle="modal" data-target="#pesquisaRapidaLocalizacoesMvtoEstoque">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoDepositoTransferencia">Código depósito</label>
								<input id="codigoDepositoTransferencia" type="text" class="form-control" 
									readonly="readonly" th:field="*{localizacaoTransferencia.deposito.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-4">
								<label for="descricaoDepositoTransferencia">Descrição depósito</label>
								<input id="descricaoDepositoTransferencia" type="text" class="form-control" 
									readonly="readonly" th:field="*{localizacaoTransferencia.deposito.descricao}"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoEmpresaDepositoTransferencia">Código empresa</label>
								<input id="codigoEmpresaDepositoTransferencia" type="text" class="form-control" 
									readonly="readonly" th:field="*{localizacaoTransferencia.deposito.empresa.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cnpjEmpresaDepositoTransferencia" class="control-label">CNPJ</label>
								<input type="text" class="form-control " id="cnpjEmpresaDepositoTransferencia" 
									readonly="readonly" th:field="*{localizacaoTransferencia.deposito.empresa.cpfOuCnpj}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label for="nomeEmpresarialEmpresaDepositoTransferencia" class="control-label">Nome empresarial</label>
								<input type="text" class="form-control" id="nomeEmpresarialEmpresaDepositoTransferencia" 
									readonly="readonly" th:field="*{localizacaoTransferencia.deposito.empresa.nomeEmpresarial}"/>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-lg-4  form-group y-required  js-container-quantidade"
					th:classappend="*{{tipoMovimento == null}} ? 'hidden'" controle-estoque:classforerror="quantidade">
					<label for="quantidade" class="control-label">Quantidade</label>
					<div class="input-group">
						<div class="input-group-addon  js-sigla-quantidade"></div>
						<input id="quantidade" type="text" class="form-control  js-plain" 
							th:field="*{quantidade}" readonly="readonly" th:disabled="${movimentoEstoque.detalhes}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-4  form-group y-required  hidden js-container-quilograma" controle-estoque:classforerror="quantidade">
					<label for="quilograma" class="control-label">Quantidade</label>
					<div class="input-group">
						<div class="input-group-addon  js-sigla-quantidade"></div>
						<input id="quilograma" type="text" class="form-control  js-gramas" 
							th:field="*{quilograma}" readonly="readonly" th:disabled="${movimentoEstoque.detalhes}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-4  form-group  y-required  js-container-valores" 
					th:classappend="*{{tipoMovimento}} != 'ENTRADA' ? 'hidden'" controle-estoque:classforerror="valorUnitario">
					<label for="valorUnitario" class="control-label">Valor unitário</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorUnitario" type="text" class="form-control  js-decimal" 
							th:field="*{valorUnitario}" th:disabled="${movimentoEstoque.detalhes}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-4  form-group  js-container-valores" th:classappend="*{{tipoMovimento}} != 'ENTRADA' ? 'hidden'">
					<label for="valorTotal" class="control-label">Valor total</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorTotal" type="text" class="form-control  js-decimal" 
							th:field="*{valorTotal}" readonly="readonly"/>
					</div>
				</div>
			</div>
			
			<div class="row hidden js-container-venda">
				<div class="form-group  col-md-12 col-lg-2">
					<label for="codigoVenda">Venda</label>
					<input id="codigoVenda" type="text" class="form-control" readonly="readonly" th:field="*{venda.codigo}"/>
				</div>
			</div>
			
			<div class="row  hidden  js-container-empresa-saida">
				<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1  y-required" controle-estoque:classforerror="empresaDestino">
					<fieldset>
						<legend>Empresa</legend>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoEmpresa">Código</label>
								<input id="codigoEmpresa" type="text" class="form-control" readonly="readonly" th:field="*{empresaDestino.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cnpjEmpresa" class="control-label">CNPJ</label>
								<input type="text" class="form-control " id="cnpjEmpresa" th:field="*{empresaDestino.cpfOuCnpj}" readonly="readonly"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label class="control-label" for="descricaoEmpresa">Nome empresarial</label>
								<div class="input-group">
									<input id="descricaoEmpresa" type="text" readonly="readonly" class="form-control" 
										th:field="*{empresaDestino.nomeEmpresarial}" placeholder="Clique na lupa para pesquisar a empresa"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${movimentoEstoque.detalhes}"
							        			data-toggle="modal" data-target="#pesquisaRapidaEmpresas">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" th:disabled="${movimentoEstoque.detalhes}" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataHoraCadastro">
					<label for="dataHoraCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataHoraCadastro" th:field="*{dataHoraCadastro}" autocomplete="off"/>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${movimentoEstoque.detalhes}">Salvar</button>
		</form>
	</div>
	
	<th:block th:replace="fornecedor/PesquisaRapidaFornecedores :: pesquisaRapidaFornecedores"></th:block>
	<th:block th:replace="empresa/PesquisaRapidaEmpresas :: pesquisaRapidaEmpresas"></th:block>
	<th:block th:replace="produto/PesquisaRapidaProdutosMvtoEstoque :: pesquisaRapidaProdutosMvtoEstoque"></th:block>
	<th:block th:replace="localizacao/PesquisaRapidaLocalizacoesMvtoEstoque :: pesquisaRapidaLocalizacoesMvtoEstoque"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/fornecedor.pesquisa-rapida.min.js}"></script>
	<script th:src="@{/javascripts/min/empresa.pesquisa-rapida.min.js}"></script>
	<script th:src="@{/javascripts/min/produto.movimento-estoque-pesquisa-rapida.min.js}"></script>
	<script th:src="@{/javascripts/min/localizacao.movimento-estoque-pesquisa-rapida.min.js}"></script>
	<script th:src="@{/javascripts/min/movimento-estoque.min.js}"></script>
</th:block>
</html>