<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de movimentações estoque</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de movimentações estoque</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/movimentacoes-estoque/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova movimentação de estoque</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${movimentoEstoqueFilter}" th:action="@{/{tenantid}/movimentacoes-estoque(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group col-md-12 col-lg-1">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control js-number" id="codigo" th:field="*{codigo}" placeholder="Código" autofocus="autofocus"/>
				</div>

				<div class="form-group col-md-12  col-lg-2">
					<label class="control-label" for="dataInicio">Data inicio</label>
					<input type="text" class="form-control js-date" id="dataInicio" th:field="*{dataInicio}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-2">
					<label class="control-label" for="dataFim">Data fim</label>
					<input type="text" class="form-control js-date" id="dataFim" th:field="*{dataFim}"/>
				</div>

				<div class="form-group col-md-12 col-lg-7">
					<label class="control-label" for="descricaoProduto">Produto</label>
					<input type="text" class="form-control" id="descricaoProduto" th:field="*{produto.descricao}" placeholder="Qual nome produto você esta procurando?"/>
				</div>				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  y-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-data-hora">
	                		<controle-estoque:order page="${pagina}" field="dataHoraCadastro" text="'Data e hora cadastro'"/>
	                	</th>
	                	<th class="table-col-descricao">Usuário</th>
	                	<th class="table-col-descricao">Produto</th>
	                	<th class="table-col-unidade-medida">Unidade de medida</th>
	                	<th class="table-col-unidade-medida">Tipo de movimento</th>
	                	<th class="table-col-valores">Quantidade</th>
	                	<th class="table-col-valores">Valor unitário</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="movimentoEstoque : ${pagina.conteudo}" th:with="quantidade=${{movimentoEstoque.quantidade}}">
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/movimentacoes-estoque/{codigo}(tenantid=${tenantid}, codigo=${movimentoEstoque.codigo})}"> 
								<span th:text="${movimentoEstoque.codigo}"></span>
							</a>
						</td>
						<td th:text="${{movimentoEstoque.dataHoraCadastro}}"></td>
	                 	<td th:text="${movimentoEstoque.usuario.nome}"></td>
						<td th:text="${movimentoEstoque.produto.descricao}"></td>
						<td th:text="${movimentoEstoque.unidadeMedida.tipoUnidadeMedida.descricao}"></td>
						<td th:text="${movimentoEstoque.tipoMovimento.descricao}"></td>
						<td th:text="|${#strings.replace(quantidade,',000','')} ${movimentoEstoque.unidadeMedida.tipoUnidadeMedida}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(movimentoEstoque.valorUnitario,1,2)}|"></td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="8">Nenhuma movimentação encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>