<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="form-group  col-md-12 col-lg-3  js-pesquisa-pedido-venda-cozinha y-pesq-ped-venda-cozi"  th:each="pedidoVenda : ${pedidosVendas}"
		th:data:quantidade-item=${pedidoVenda.itens.size()}>
		
		<div class="alert  alert-danger  alert-dismissible  hidden  js-msg-erro-enviar-dados" role="alert">
			<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
			<div><i class="fa  fa-exclamation-circle"></i>Erro ao enviar informações, atualize a págia ou verifique sua conexão de internet</div>
		</div>
		
		<div class="panel y-pesq-ped-venda-cozi" th:classappend="${{pedidoVenda.statusCozinha}} == 'NAO_INICIADO' ? 'panel-info' : 'panel-primary'">
			<div class="panel-heading">
				<h4 class="panel-title pull-left">
					<a th:href="|#@{{codigo}(codigo=${pedidoVenda.uuid})}|" data-toggle="collapse">
						<span th:text="${pedidoVenda.cliente.nomeEmpresarial}" style="font-weight: normal; font-size: 30px;"
							th:if="${pedidoVenda.cliente != null}">
						</span>
						<span th:text="|Mesa - ${pedidoVenda.mesa.nrMesa}|" style="font-weight: normal; font-size: 30px;"
							th:if="${pedidoVenda.mesa != null}">
						</span>
					</a>
					
				</h4>
				<button class="btn pull-right  js-botoes-panel" th:data:uuid=${pedidoVenda.uuid}
					th:value="${{pedidoVenda.statusCozinha}} == 'NAO_INICIADO' ? 'INICIADO' : 'PRONTO'" 
					th:text="${{pedidoVenda.statusCozinha}} == 'NAO_INICIADO' ? 'Iniciar' : 'Pronto'"
					th:classappend="${{pedidoVenda.statusCozinha}} == 'NAO_INICIADO' ? 'btn-primary' : 'btn-success'">
				</button>
      				<div class="clearfix"></div>
			</div>
			<div class="panel-collapse collapse" th:id="${pedidoVenda.uuid}">
				<div class="panel-body">
					<div class="row" style="padding-top: 0px;">
						<div class="table-responsive  js-itens-pedido-venda" th:each="item : ${pedidoVenda.itens}"
							th:data:codigo-item=${item.codigo} th:data:uuid-pedido-venda=${item.pedidoVenda.uuid} 
							th:if="${#strings.contains(item.statusCozinha,'NAO_INICIADO') || #strings.contains(item.statusCozinha,'INICIADO')}">
				        	<table class="table  table-hover  y-pesquisa-pedidos-vendas-cozinha--table">
					            <thead>
					            	<tr>
					            		<th th:text="${item.produto.descricao}"></th>
					            		<th>
					            			<button class="btn btn-default js-botoes-table" style="margin-right: 5px;"
					            				th:value="${{item.statusCozinha}} == 'NAO_INICIADO' ? 'INICIADO' : 'PRONTO'"
					            				th:text="${{item.statusCozinha}} == 'NAO_INICIADO' ? 'Iniciar' : 'Pronto'"
					            				th:classappend="${{item.statusCozinha}} == 'NAO_INICIADO' ? 'btn-primary hidden' : 'btn-success'">
					            			</button>
					      				</th>
									</tr>
								</thead>
							
					            <tbody>
									<tr>
										<td colspan="2">
											<span th:each="ingrediente : ${item.ingredientes}" th:if="${ingrediente.selecionado}"
												th:text="|${ingrediente.nome}${ingredienteStat.last ? '' : ', '}|"></span>
											<span th:each="ingrediente : ${item.ingredientes}" th:unless="${ingrediente.selecionado}"
												th:text="|${ingrediente.nome}${ingredienteStat.last ? '' : ''}|" class="label label-danger"
												style="margin-right: 5px;"></span>
											<span th:each="adicional : ${item.adicionais}"
												th:text="|${adicional.nome}${adicionalStat.last ? '' : ''}|" class="label label-success"
												style="margin-right: 5px;"></span>
										</td>
					                </tr>
					             </tbody>
				         	</table>
				    	 </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" th:unless="${#strings.isEmpty(pedidoVenda.observacao)}">
			<div class="form-group  col-lg-12 y-pesq-ped-venda-cozi--obs">
				<label for="observacao" class="control-label"></label>
				<textarea class="form-control" id="observacao" rows="2" 
					th:text="${pedidoVenda.observacao}"
					readonly="readonly">
				</textarea>
			</div>
		</div>	
	</div>
</html>