<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa pedidos de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Painel pedidos de vendas</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/pedidos-vendas/painel(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-repeat"></i> <span class="hidden-xs  hidden-sm">Recarregar página</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="form-group  col-md-12 col-lg-2"  th:each="pedidoVenda : ${pedidosVendas}">
			<div class="panel">
				<div class="panel-heading y-painel-pesq-ped-venda">
					<h4 class="panel-title">
						<a th:href="|#@{{codigo}(codigo=${pedidoVenda.codigo})}|" data-toggle="collapse">
							<span th:text="${pedidoVenda.cliente.nomeEmpresarial}" style="font-weight: normal; font-size: 30px;"
								th:unless="${#strings.isEmpty(pedidoVenda.cliente.nomeEmpresarial)}">
							</span>
							<span th:text="|Mesa - ${pedidoVenda.mesa.nrMesa}|" style="font-weight: normal; font-size: 30px;"
								th:unless="${#strings.isEmpty(pedidoVenda.mesa.nrMesa)}">
							</span>
						</a>
						
					</h4>
				</div>
				<div class="panel-collapse collapse" th:id="${pedidoVenda.codigo}">
					<div class="panel-body" style="padding-top: 0px; background-color: #2cc185; color: #FFF;">
						<div class="row">
							<div class="form-group  col-xs-12" style="text-align: center;">
								<h1 style="font-size: 40px;"><strong th:text="|R$${#numbers.formatDecimal(pedidoVenda.valorTotal,1,2)}|"></strong> </h1>
								<h1 th:text="${{pedidoVenda.dataHoraCriacao}}"></h1>
							</div>
						</div>
						
						 <footer class="y-painel-pesq-ped-venda-btn">
			                <a th:href="@{/{tenantid}/pedidos-vendas/{codigo}(tenantid=${tenantid}, codigo=${pedidoVenda.codigo})}"> 
			                	<strong>Visualizar</strong>
			                </a>
			              </footer>
					</div>
				</div>
			</div>
			
			<div class="row  y-painel-pesq-ped-venda-obs" th:unless="${#strings.isEmpty(pedidoVenda.observacao)}">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label"></label>
					<textarea class="form-control" id="observacao" rows="2" 
						th:text="${pedidoVenda.observacao}"
						readonly="readonly">
					</textarea>
				</div>
			</div>	
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script>
	$(function() {
		$('.js-sidebar-toggle').trigger( "click" );
	});
	</script>
</th:block>
</html>