<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa pedidos de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa pedidos de vendas</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('CADASTRAR_PEDIDO_VENDA')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/pedidos-vendas/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo pedido de venda</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${pedidoVendaFilter}" th:action="@{/{tenantid}/pedidos-vendas(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group  col-lg-6">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				
				<div class="form-group  col-lg-6">
					<label for="status" class="control-label">Status</label>
					<select id="status" class="form-control" th:field="*{status}">
	                    <option value="">Todos os status</option>
	                    <option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}"></option>
	                </select>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-6">
					<label for="dataCriacaoInicial">Data de criação</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{desde}" autocomplete="off"/>
						<label for="dataCriacaoFinal" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoFinal" 
							th:field="*{ate}" autocomplete="off"/>
					</div>
				</div>
				
				<div class="form-group  col-lg-6">
					<label for="valorMinimo">Valor total</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorMinimo" th:field="*{valorMinimo}"/>
						<label for="valorMaximo" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorMaximo" th:field="*{valorMaximo}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-6">
					<label class="control-label" for="nomeCliente">Nome cliente</label>
					<input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}"/>
				</div>
			
				<div class="form-group  col-lg-3" th:unless="${#authorization.request.isUserInRole('GARCOM')}">
					<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpjCliente}"/>
				</div>
				
				<div class="form-group  col-lg-3">
					<label for="nrMesa" class="control-label">Nº da mesa</label>
					<input type="text" class="form-control" id="nrMesa" th:field="*{nrMesa}"/>
				</div>
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div th:if="${#authorization.request.isUserInRole('OPERADOR_CAIXA') || #authorization.request.isUserInRole('ADMINISTRADOR')}">
			<div class="table-responsive  y-tabela-simples js-url-venda"
				data:url="@{/{tenantid}/vendas/(tenantid=${tenantid})}">
				<table class="table  table-hover  y-tabela-pesquisa-pedidos-vendas">
					<thead>
						<tr>
							<th class="table-col-acoes">Ação</th>
							<th class="table-col-codigo">Código</th>
							<th class="table-col-descricao">Cliente/Mesa</th>
							<th class="table-col-situacao">Situação</th>
							<th class="table-col-data-hora">
								<controle-estoque:order page="${pagina}" field="dataHoraCriacao" text="'Data e hora inicio'"/>
							</th>
							<th class="table-col-data-hora">Data e hora fim</th>
							<th class="table-col-valores">Valor total</th>
							<th class="table-col-descricao">Observação</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="pedidoVenda : ${pagina.conteudo}">
							<td class="text-center">								
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/pedidos-vendas/{codigo}(tenantid=${tenantid}, codigo=${pedidoVenda.codigo})}">
									<i class="glyphicon glyphicon-pencil fa-2x"></i>
								</a> 
							</td>
							<td th:text="${pedidoVenda.codigo}"></td>
							<td th:text="${pedidoVenda.cliente.nomeEmpresarial}" th:unless="${pedidoVenda.cliente == null}"></td>
							<td th:text="${pedidoVenda.mesa.nrMesa}" th:if="${pedidoVenda.cliente == null}"></td>
							<td>
								<th:block th:if="${{pedidoVenda.status}} == 'EM_ANDAMENTO'">
									<span class="label  label-info fa-2x">Em andamento</span>
								</th:block>
								<th:block th:if="${{pedidoVenda.status}} == 'FINALIZADO'">
									<span class="label  label-success">Finalizado</span>
								</th:block>
								<th:block th:if="${{pedidoVenda.status}} == 'CANCELADO'">
									<span class="label  label-danger">Cancelado</span>
								</th:block>
							</td>
							<td th:text="${{pedidoVenda.dataHoraCriacao}}"></td>
							<td th:text="${{pedidoVenda.dataHoraFim}}"></td>
							<td th:text="|R$ ${#numbers.formatDecimal(pedidoVenda.valorTotal,1,2)}|"></td>
							<td th:text="${pedidoVenda.observacao}"></td>
						</tr>

						<tr th:if="${pagina.vazia}">
							<td colspan="9">Nenhum pedido de venda encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>