<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa pedidos de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pedidos de vendas</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/pedidos-vendas/cozinha(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-repeat"></i> <span class="hidden-xs  hidden-sm">Recarregar página</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row  js-container-pesquisa-cozinha" th:data-url="@{/{tenantid}/pedidos-vendas/status-cozinha(tenantid=${tenantid})}">
			<input type="hidden" id="tenantid" th:value="${tenantid}">
			<th:block th:replace="pedidoVenda/ContainerItensPedidoVendaCozinha"/>
		</div>
	</div>

	</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/sockjs.min.js}"></script>
    <script th:src="@{/javascripts/vendors/stomp.min.js}"></script>
	<script th:src="@{/javascripts/min/pesquisa-pedido-venda.cozinha.min.js}"></script>
</th:block>
</html>