<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa pedidos de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa pedidos de vendas</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/pedidos-vendas/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo pedido de venda</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12" th:each="pedidoVenda : ${pedidosVendas}">
				<div th:class="${pedidoVenda.lancheOuPratoPronto} ? y-box-pedidos-vendas-prontos : y-box-pedidos-vendas">
					<div class="aw-box__icon">
						<i class="glyphicon glyphicon-cutlery  fa-3x"></i>
					</div>
					<div class="aw-box__value">
							<a class="js-tooltip" title="Detalhes"
								th:href="@{/{tenantid}/pedidos-vendas/{codigo}(tenantid=${tenantid}, codigo=${pedidoVenda.codigo})}">	
							
								<span class="y-box__nr-mesa" th:text="${pedidoVenda.cliente.nomeEmpresarial}" 
									th:unless="${#strings.isEmpty(pedidoVenda.cliente.nomeEmpresarial)}">001
								</span>
						
								<span class="y-box__nr-mesa" th:text="${pedidoVenda.mesa.nrMesa}" 
									th:if="${#strings.isEmpty(pedidoVenda.cliente.nomeEmpresarial)}">001
								</span>
							</a>
							
							<span th:text="|R$ ${#numbers.formatDecimal(pedidoVenda.valorTotal,1,2)}|">0,00</span>
					</div>
					<div class="aw-box__title">Total</div>
				</div>
			</div>
		</div>
		
		<div class="y-tabela-produtos__vazio" th:if="${pedidosVendas.empty}">
			<i class="glyphicon  glyphicon-shopping-cart"></i> 
			<span>Nenhum pedido de venda encontrado.</span>
		</div>
	</div>
	
</section>
</html>