<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="y-tabela-item  js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
		<div class="checkbox  aw-checkbox-no-margin" >
			<input type="checkbox" class="js-selecao-itens"
				data:codigo="${item.codigo}" data:valor-item="${item.valorTotal}">
			<label></label>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--foto">
			<a class="js-editar-lanche-ou-prato" th:if="${item.produto.lancheOuPrato}" >
				<img th:src="${item.produto.urlThumbnailFoto}" class="img-responsive" data:codigo-item-pedido-venda="${item.codigo}"/>
			</a>
			<img th:src="${item.produto.urlThumbnailFoto}" class="img-responsive" th:unless="${item.produto.lancheOuPrato}"/>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--detalhes js-container-porcent-pago hidden">
			<span>
				<input type="text" maxlength="6" 
						class="y-tabela-produto-campo-porcent-pago js-decimal" value="100"/><strong style="font-size: 20px;">%</strong>
			</span>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--detalhes">
			<span class="y-tabela-produto-nome" th:text="${item.produto.descricao}"></span>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--valores">
			<div class="y-tabela-produto-valor-pequeno">
				<button th:if="${item.produto.enviarCozinha && #authorization.request.isUserInRole('OPERADOR_CAIXA')}"
					class="btn  y-tabela-produto-botao-status  js-btn-status-cozinha-item" 
					th:text="${{item.statusCozinha}} != 'PRONTO' ? ${item.statusCozinha.descricao} : 'Entregue'"
					th:classappend="${{item.statusCozinha}} == 'ENTREGUE' ? 'btn-success' : 'btn-primary'"  
					data:codigo-item-pedido-venda="${item.codigo}" th:disabled="${item.desabledBtnStatusCozinha}">
				</button>

				<input type="text" maxlength="3" 
					class="y-tabela-produto-campo-quantidade  js-tabela-produto-quantidade-item" 
					th:value="${item.quantidade}" data:codigo-produto="${item.produto.codigo}"
					th:disabled="${item.getDesabledQuantidade(#authorization.request.isUserInRole('ADMINISTRADOR'))}"/>
				
				<span>x R$	
					<input type="text" 
						class="y-tabela-produto-campo-valor-unitario js-decimal js-tabela-produto-valor-unitario" 
						th:value="${#numbers.formatDecimal(item.valorUnitario,1,2)}" data:codigo-item-pedido-venda="${item.codigo}"
						th:if="${item.getPodeEditarValorUnitario(#authorization.request.isUserInRole('ADMINISTRADOR'))}"/>
				</span>
				
				
				<span class="y-tabela-produto-campo-valor-unitario"
					th:unless="${item.getPodeEditarValorUnitario(#authorization.request.isUserInRole('ADMINISTRADOR'))}">
						x R$ [[${#numbers.formatDecimal(item.valorUnitario,1,2)}]]</span>
				
				<button th:if="${item.produto.enviarCozinha && #authorization.request.isUserInRole('GARCOM')}"
					class="btn  y-tabela-produto-botao-status  js-btn-status-cozinha-item" style="padding: 5px 5px;"
					th:text="${{item.statusCozinha}} != 'PRONTO' ? ${item.statusCozinha.descricao} : 'Entregue'"
					th:classappend="${{item.statusCozinha}} == 'ENTREGUE' ? 'btn-success' : 'btn-primary'"  
					data:codigo-item-pedido-venda="${item.codigo}" th:disabled="${item.desabledBtnStatusCozinha}">
				</button>
			</div>
			<div class="y-tabela-produto-valor-grande">R$ [[${{#numbers.formatDecimal(item.valorTotal,1,2)}}]]</div>
		</div>
		
		<div class="y-tabela-item__painel-exclusao" th:unless="${item.getDesabledExcluirItem(#authorization.request.isUserInRole('ADMINISTRADOR'))}">
			<span class="y-tabela-item__titulo-exclusao">Excluir este item da venda?</span>
			<button type="button" class="btn  btn-danger  js-exclusao-item-btn"
				data:codigo-item-pedido-venda="${item.codigo}">Sim, excluir!</button>
		</div>
	</div>
	
	<div class="y-tabela-produtos__vazio" th:if="${itens.empty}">
		<i class="glyphicon  glyphicon-shopping-cart"></i> 
		<span>Você ainda não adicionou nenhum produto.</span>
	</div>
</html>