<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="table-responsive">
		<table class="table  table-striped">
			<thead>
				<tr>
					<th class="table-col-checkbox">
            			<div class="checkbox  aw-checkbox-no-margin">
            				<input type="checkbox" class="js-selecao-todos-ingredientes" th:disabled="${#lists.isEmpty(ingredientes) || 
            					(prontoOuEntregue && not #authorization.request.isUserInRole('ADMINISTRADOR'))}"/>
            				<label></label>
            			</div>
            		</th>
                	<th>Nome</th>
				</tr>
			</thead>
	
			<tbody>
				<tr id="ingredientes" th:each="ingrediente : ${ingredientes}">
					<td>
						<div class="checkbox  aw-checkbox-no-margin">
            				<input type="checkbox" class="js-selecao-ingrediente" 
            					th:disabled="${prontoOuEntregue && not #authorization.request.isUserInRole('ADMINISTRADOR')}"
            					data:codigo="${ingrediente.codigo}" data:nome="${ingrediente.nome}" th:checked="${ingrediente.selecionado}">
            				<label></label>
            			</div>
					</td>
					<td th:text="${ingrediente.nome}" th:classappend="${not ingrediente.selecionado} ? 'danger'"></td>
				</tr>
				<tr>
					<td colspan="2" th:if="${#lists.isEmpty(ingredientes)}">Nenhum ingrediente encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>