<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="table-responsive">
		<table class="table  table-striped">
			<thead>
				<tr>
					<th class="table-col-checkbox">
            			<div class="checkbox  aw-checkbox-no-margin">
            				<input type="checkbox" class="js-selecao-todos-adicionais" th:disabled="${#lists.isEmpty(adicionais) || 
            					(prontoOuEntregue && not #authorization.request.isUserInRole('ADMINISTRADOR'))}"/>
            				<label></label>
            			</div>
            		</th>
                	<th>Nome</th>
                	<th>Preço</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="adicional : ${adicionais}">
					<td>
						<div class="checkbox  aw-checkbox-no-margin">
            				<input type="checkbox" class="js-selecao-adicional" 
            					th:disabled="${prontoOuEntregue && not #authorization.request.isUserInRole('ADMINISTRADOR')}"
            					data:codigo="${adicional.codigo}" data:nome="${adicional.nome}"
            					data:valor-unitario="${adicional.valorUnitario}" th:checked="${adicional.selecionado}">
            				<label></label>
            			</div>
					</td>
					<td th:text="${adicional.nome}"></td>
					<td th:text="|R$ ${#numbers.formatDecimal(adicional.valorUnitario,1,2)}|"></td>
				</tr>
				<tr>
					<td colspan="3" th:if="${#lists.isEmpty(adicionais)}">Nenhum adicional encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>