/*
######################
# UTILIDADES
######################
*/

/*Configuração do menu*/
.y-logo-barra-navegacao {
	padding: 5px 7px;
	padding-left: 165px;
}
.y-logo-barra-navegacao > img{
	height:  40px;	
}

@media (min-width: 768px) {
	.y-icone-menu {
		margin-left: -10px;
	} 
}

.navbar {
	background: -webkit-linear-gradient(#0095da, #004869);
}
/*Fim configuracao menu*/

fieldset {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
}
legend {
    border: 0;
    margin: auto;
    width: auto;
}

.y-fieldset-exterior > fieldset {
	border: 3px solid #ccc;
}

.y-fieldset-exterior-nivel1 > fieldset {
	border: 2px solid #ccc;
}

.y-autocomplete li:first-child {
	margin-top: 30px;
}

.y-glyphicon-large {
	font-size: 18px;
}

.y-campo-codigo-pesquisa {
	width: 100px;
	margin-right: 5px;
}

.y-required > .control-label:after {
	content: "*";
}

/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.y-field-action {
	display: flex;
}

.y-field-action__icon {
	margin: 6px 0 0 5px;
}

/* Tabela Simples */
.y-tabela-simples {
	margin-top: 30px;
}

.y-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.y-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

.y-cabecalho-col-extra {
	border: 1px solid black;
	background: #e7eaec;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/*
############################## 
# Colunas comuns 
############################## 
*/
.table-col-acoes {
	min-width: 80px;
	width: 80px;
	text-align: center;
	border: 50px;
}

.table-col-acoes-medio {
	min-width: 130px;
	width: 130px;
	text-align: center;
	border: 50px;
}

table > .table-col-acoes {
	border: 50px;
}

.table-col-codigo {
	min-width: 30px;
	width: 30px
}

.table-col-cnpj {
	min-width: 150px;
	width: 150px;
}

.table-col-cidade-estado {
	min-width: 150px;
	width: 250px;
	text-align: right;
}

.table-col-nome-empresarial {
	min-width: 350px;
	width: 350px;
}

.table-col-email {
	min-width: 200px;
	width: 200px;
}
	         
.table-col-telefone {
	min-width: 100px;
	width: 100px;
}

.table-col-situacao {
	width: 50px;
}

.table-col-unidade-medida {
	min-width: 180px;
	width: 180px;
}

.table-col-valores {
	min-width: 150px;
	width: 150px;
}

.table-col-descricao {
	min-width: 250px;
	width: 500px;
}

.table-col-checkbox {
	width: 30px;
	text-align: center;
}

.table-col-data-hora {
	min-width: 160px;
    width: 160px;
}

/*
###############################
# Colunas - Pesquisa de usuários
############################### 
*/
.table-usuarios-col-status {
	width: 30px;
	text-align: center;
}

.table-usuarios-col-nome {
	min-width: 250px;
	width: 500px;
}

.table-usuarios-col-email {
	min-width: 250px;
	width: 500px;
}
	
.table-usuarios-col-grupo {
	min-width: 150px;
	width: 250px;
}

/* 
###############################
# Colunas - Pesquisa de localização
############################### 
*/
.table-col-endereco-localizacao {
	min-width: 180px;
	width: 180px;
}

.table-col-saldo-estoque {
	min-width: 100px;
	width: 100px;
}


/* 
##############################
# Cadastro movimento de estoque
############################## 
*/

.y-botao-tipo-movimento {
	display: block;
	width: 100%; 
	height: 45px;  
	font-size: 2em;
}

/* 
##############################
# Cadastro pedido de venda
###############################
 */

.y-valores-venda {
	font-size: 1.3em;	
}
.y-labels-venda {
	font-size: 1.5em;	
}

.y-botao-tipo-pedido-venda {
	display: block;
	width: 100%; 
	height: 55px;  
	font-size: 2em;
}

.y-botao-mesa {
	display: block;
	width: 100%; 
	height: 70px;  
	font-size: 3em;
}

.y-mesa-selecionada {
	margin-top: -15px;
	height: 70px;
}

.y-mesa-selecionada h1 {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	font-size: 3em;
}

/* 
#########################################################
# Colunas para o template de pesquisa de pessoa hbs
#########################################################
 */
.y-colunas-template-pessoa {
	box-sizing:border-box;
    float:left;
    display:block;
}

.y-codigo-template-pessoa {
	width: 5%;
}


.y-cpf-cnpj-template-pessoa {
	width: 35%;
}

.y-nome-template-pessoa {
	width: 60%;
}

@media (min-width: 768px) {
	.y-cpf-cnpj-template-pessoa {
		width: 15%;
	}
	
	.y-nome-template-pessoa {
		width: 80%;
	}
}
@media (max-width: 1000px) {
	.y-cpf-cnpj-template-pessoa {
		width: 40%;
	}
	
	.y-nome-template-pessoa {
		width: 55%;
	}
}
.y-template-pessoa {
 	padding:10px;
}

.y-template-pessoa:after{
  clear:both;
  content: ' ';
  display:block;
}

/* Easy Autocomplete */
.easy-autocomplete input {
	border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
	font-size: 1.2em !important;
	padding: 5px 5px !important;
}

/*
######################################################
# Pesquisa pedidos de vendas - usuario Garçom
######################################################
*/

.y-box-pedidos-vendas {
	padding:10px;
	margin-bottom:5px;
	border:1px solid #eee;
	border-bottom:10px solid #1e94d2
}

.y-box-pedidos-vendas-prontos {
	padding:10px;
	margin-bottom:5px;
	border:1px solid #eee;
	border-bottom:10px solid #3CB371}

.y-box__nr-mesa {
	font-size:1em;
	font-weight:300;
	float: left;
	padding-left: 15px;
}

.y-tabela-pesquisa-pedidos-vendas td {
	font-size: 1.2em;
}

/* 
##########################################################
# Pesquisa pedidos de vendas - usuario Cozinha
##########################################################
 */

.y-pesq-ped-venda-cozi {
	margin-bottom: 5px;
}

.y-pesq-ped-venda-cozi--obs {
	margin-top: -25px;
}

.y-pesq-ped-venda-cozi--obs > .form-control {
	font-size:1.5em;
	font-weight: 500;
	color: #000000;
	background-color: #fdf59a;
}

.y-pesquisa-pedidos-vendas-cozinha--table {
	margin-bottom: 5px;
}

.y-pesquisa-pedidos-vendas-cozinha--table th {
  background-color: #95a4a5;
  width: 100%;
  color: #fff;
  font-size: 18px;
} 

.y-pesquisa-pedidos-vendas-cozinha--table td {
	font-size: 16px;
}

/* 
##########################################################
# Painel pesquisa pedidos de vendas
##########################################################
 */

.y-painel-pesq-ped-venda {
	color: #fff;
	background-color: #567aa0;
	border-color: transparent;
	text-align: center;
}

.y-painel-pesq-ped-venda-obs {
	margin-top: -40px;
}

.y-painel-pesq-ped-venda-obs > div > .form-control {
	font-size: 1.8em;
	border: 0px;
	color: #fff;
	background-color: #8ca79c;
	margin-left: 1px;
}

.y-painel-pesq-ped-venda-obs {
	margin-right: -13px;
}

.y-painel-pesq-ped-venda-btn {
	text-align: center;
}


.y-painel-pesq-ped-venda-btn > a {
	display: inline-block;
	padding: 0.8em 1.2em;
	
	background-color: #fff;
	
	line-height: normal;
	font-size: 1.2em;
}

/* 
#################################
# Tabela itens de venda 
#################################
 */

/* Box */
.negativo .aw-box__value {
	color: red;
}
.y-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 17px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.y-tabela-item__calculado {
	background-color: #dff0d8;
	border-radius: 10px;
	margin-bottom: 5px;
}

.y-tabela-item__pendente {
	background-color: #e6f70661;
	border-radius: 10px;
	margin-bottom: 5px;
}

.y-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.y-tabela-item ~ .y-tabela-item {
	border-top: 1px solid #ddd;
}

.y-tabela-item__coluna {
	padding: 0 10px;
}

.y-tabela-item__coluna--foto {
	float: left;
	width: 60px;
	
	text-align: center;
}

.y-tabela-item__coluna--valores {
	padding-right: 0px;
}

.y-tabela-item__coluna--detalhes, .y-tabela-item__coluna--valores {
	margin-left: 60px;
}

.y-tabela-produto-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.y-tabela-produto-origem {
	color: #aaa;
	display: block;
	font-weight: 200;
}

.y-tabela-produto-campo-quantidade {
	width: 40px;
	height: 30px;
	text-align: center;
	
	font-weight: 300;
	font-size: 1.7em;
}

.y-tabela-produto-campo-porcent-pago {
	width: 40px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
	
	font-weight: 300;
	font-size: 1.7em;
}

.y-tabela-produto-campo-valor-unitario {
	width: 90px;
	height: 30px;
	
	font-weight: 300;
	font-size: 1.5em;
}

.y-tabela-produto-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}

.y-tabela-produto-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}

.y-tabela-produto-valor-grande {
	font-weight: 300;
	font-size: 2em;
}

.y-tabela-item__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
	height: 100%;
    width: 50%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .y-tabela-item__painel-exclusao {
	right: 0;
	opacity: 1;
}

.y-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}

.y-tabela-produtos {
	margin-bottom: 15px;
}

.y-tabela-produtos__vazio {
	padding: 15px 15px;
	
	border: 1px dashed #ddd;
	
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

@media (max-width: 768px) {
	.y-tabela-produto-botao-status {
		position: absolute;
	    right: 0px; 
	}
}

@media (min-width: 768px) { /* screen-sm-min */

	.y-tabela-item__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.y-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.y-tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.y-tabela-item__coluna--valores {
		width: calc(30% - 30px);

		text-align: right;
	}
	
	.y-tabela-produto-valor-grande {
		font-weight: 300;
		font-size: 1.8em;
	}
	
	.y-tabela-produto-campo-valor-unitario {
		width: 80px;
		height: 25px;
		text-align: center;
		
		font-size: 1.3em;
	}
	
	.y-tabela-produto-campo-quantidade {
		width: 40px;
		height: 25px;
		text-align: center;
		
		font-size: 1.1em;
	}
	
	.y-tabela-produto-campo-porcent-pago {
		width: 60px;
		height: 25px;
		
		font-size: 1.1em;
	}
	
	.y-tabela-produto-botao-status {
		position: relative;
		margin-right: 50px;
	}
	
	.y-botao-mesa {
		font-size: 2em;
	}
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

/* Upload */
.y-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.y-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.y-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

.table-produtos-col-foto {
	min-width: 50px;
	width: 50px
}
