<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de clientes</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de clientes</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('CADASTRAR_CLIENTE')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/clientes/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${estabelecimentoFilter}" th:action="@{/{tenantid}/clientes(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group col-md-12 col-lg-2">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control js-number" id="codigo" th:field="*{codigo}" placeholder="Código" autofocus="autofocus"/>
				</div>

				<div class="form-group col-md-12 col-lg-4">
					<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label>
					<input type="text" class="form-control " id="cpfOuCnpj" th:field="*{cpfOuCnpj}" placeholder="Qual CNPJ você esta procurando?"/>
				</div>

				<div class="form-group col-md-12 col-lg-6">
					<label class="control-label" for="nomeEmpresarial">Nome Empresarial</label>
					<input type="text" class="form-control" id="nomeEmpresarial" th:field="*{nomeEmpresarial}" placeholder="Qual nome empresarial você esta procurando?"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  y-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	                 	<th class="table-col-acoes" sec:authorize="hasRole('CADASTRAR_CLIENTE')">Ações</th>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-cnpj">CPF/CNPJ</th>
	                	<th class="table-col-nome-empresarial">
							<controle-estoque:order page="${pagina}" field="nomeEmpresarial" text="'Nome empresarial'"/>
						</th>
	                	<th class="table-col-email">E-mail</th>
	                	<th class="table-col-telefone">Telefone 1</th>
	                	<th class="table-col-telefone">Telefone 2</th>
	                	<th class="table-col-telefone">Celular</th>
	                	<th class="table-col-cidade-estado">Cidade/Estado</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="cliente : ${pagina.conteudo}">
	                 	<td class="text-center" sec:authorize="hasRole('CADASTRAR_CLIENTE')">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
									th:href="@{/{tenantid}/clientes/{codigo}(tenantid=${tenantid}, codigo=${cliente.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/{tenantid}/clientes/{codigo}(tenantid=${tenantid}, codigo=${cliente.codigo})}"
									data:objeto="${cliente.nomeEmpresarial}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						<td th:text="${cliente.codigo}"></td>
						<td th:text="${cliente.cpfOuCnpj}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/clientes/{codigo}(tenantid=${tenantid}, codigo=${cliente.codigo})}"> 
								<span th:text="${cliente.nomeEmpresarial}"></span>
							</a>
						</td>
						<td th:text="${cliente.email}"></td>
						<td th:text="${cliente.telefone1}"></td>
						<td th:text="${cliente.telefone2}"></td>
						<td th:text="${cliente.celular}"></td>
						<td class="table-col-cidade-estado" th:text="${cliente.endereco.nomeCidadeSiglaEstado}"></td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="9">Nenhum cliente encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>