<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:controle-estoque="http://controle-estoque.yhatosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

		<nav class="aw-menu  js-menu" th:with="user_tenantid=${#authentication.principal.usuario.tenantId}">
			<ul class="aw-menu__list">
				<li class="aw-menu__item" controle-estoque:menu="@{/{tenantid}(tenantid=${user_tenantid})}">
					<a th:href="@{/{tenantid}(tenantid=${user_tenantid})}">
						<i class="fa  fa-fw  fa-home"></i><span>Dashboard</span>
					</a>
				</li>
				
				<li class="aw-menu__item" controle-estoque:menu="@{/{tenantid}/abre-fecha-caixas.*(tenantid=${user_tenantid})}"
					sec:authorize="hasRole('ADMINISTRADOR')">
					<a th:href="@{/{tenantid}/abre-fecha-caixas(tenantid=${user_tenantid})}">
						<i class="fa  fa-fw  glyphicon glyphicon-piggy-bank"></i><span>Caixa</span>
					</a>
				</li>
				
				<li class="aw-menu__item" controle-estoque:menu="@{/{tenantid}/abre-fecha-caixas.*(tenantid=${user_tenantid})}"
					sec:authorize="hasRole('OPERADOR_CAIXA')">
					<a th:href="@{/{tenantid}/abre-fecha-caixas/novo(tenantid=${user_tenantid})}">
						<i class="fa  fa-fw  glyphicon glyphicon-piggy-bank"></i><span>Caixa</span>
					</a>
				</li>
				
				<li class="aw-menu__item" sec:authorize="hasAnyRole('PESQUISAR_PEDIDO_VENDA', 'PESQUISAR_VENDA')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Vendas</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/vendas.*(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/vendas(tenantid=${user_tenantid})}">Vendas</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/vendas/pendentes(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/vendas/pendentes(tenantid=${user_tenantid})}">Vendas pendentes</a>
			            </li>
			        </ul>
			        
			        
			        <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/pedidos-vendas.*(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/pedidos-vendas(tenantid=${user_tenantid})}">Pedidos</a>
			            </li>
			        </ul>
			        
			        <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/pedidos-vendas/painel(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/pedidos-vendas/painel(tenantid=${user_tenantid})}">Painel pedidos</a>
			            </li>
			        </ul>
			        
			    </li>
			    
			    <li class="aw-menu__item" sec:authorize="hasRole('GARCOM')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Pedidos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
			        
			        <ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/pedidos-vendas/novo(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/pedidos-vendas/novo(tenantid=${user_tenantid})}">Novo pedido</a>
			            </li>
			        </ul>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/pedidos-vendas/garcons(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/pedidos-vendas/garcons(tenantid=${user_tenantid})}">Pesquisar pedidos</a>
			            </li>
			        </ul>
			        
			    </li>
			    
			     <li class="aw-menu__item" sec:authorize="hasRole('CHAPEIRO_COZINHA')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Pedidos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
			        
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/pedidos-vendas/garcons(tenantid=${user_tenantid})}">
			            	<a th:href="@{/{tenantid}/pedidos-vendas/cozinha(tenantid=${user_tenantid})}">Pesquisar pedidos</a>
			            </li>
			        </ul>
			        
			    </li>

				<li class="aw-menu__item">
					<a href="#">
						<i class="fa  fa-fw  fa-database"></i> <span>Cadastro</span> 
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/empresas.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('ADMINISTRADOR')">
							<a th:href="@{/{tenantid}/empresas(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Empresas</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/fornecedores.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('ADMINISTRADOR')">
							<a th:href="@{/{tenantid}/fornecedores(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Fornecedores</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/clientes.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('PESQUISAR_CLIENTE')">
							<a th:href="@{/{tenantid}/clientes(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Clientes</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist" sec:authorize="hasRole('CADASTRAR_MESA')">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/mesas.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/mesas(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Mesas</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/usuarios.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('CADASTRAR_USUARIO')">
							<a th:href="@{/{tenantid}/usuarios(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Usuários</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/usuarios.*(tenantid=${user_tenantid})}"
								th:unless="${#authorization.request.isUserInRole('CADASTRAR_USUARIO')}">
							<a th:href="@{/{tenantid}/usuarios/{codigo}(codigo=${#authentication.principal.usuario.codigo}, tenantid=${user_tenantid})}">Usuário</a>
						</li>
					</ul>
				</li>
				
				<li class="aw-menu__item" sec:authorize="hasRole('PESQUISAR_PRODUTO')">
          			<a href="#">
            			<i class="fa  fa-fw  glyphicon glyphicon-cutlery"></i><span>Produto</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/produtos.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('PESQUISAR_PRODUTO')">
							<a th:href="@{/{tenantid}/produtos(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Produtos</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/ingredientes.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('ADMINISTRADOR')">
							<a th:href="@{/{tenantid}/ingredientes(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Ingredientes</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/adicionais.*(tenantid=${user_tenantid})}"
								sec:authorize="hasRole('ADMINISTRADOR')">
							<a th:href="@{/{tenantid}/adicionais(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Adicionais lanche</a>
						</li>
					</ul>
			        
			    </li>
				
				<li class="aw-menu__item" sec:authorize="hasRole('ADMINISTRADOR')">
					<a href="#">
						<i class="fa  fa-fw  fa-truck"></i> <span>Estoque</span> 
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/unidades-medida.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/unidades-medida(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Unidades de medida</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/depositos.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/depositos(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Depósitos</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/localizacoes.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/localizacoes(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Localizações</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/movimentacoes-estoque.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/movimentacoes-estoque(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Movimentações</a>
						</li>
					</ul>
				</li>
				
				<!-- <li class="aw-menu__item" sec:authorize="hasRole('ADMINISTRADOR')">
					<a href="#">
						<i class="fa  fa-fw  glyphicon glyphicon-glass"></i> <span>Parâmetro</span> 
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/parametros-globais.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/parametros-globais(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Parâmetro global</a>
						</li>
					</ul>
					
				</li> -->
				
				<li class="aw-menu__item" sec:authorize="hasRole('ADMINISTRADOR')">
					<a href="#"> 
						<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatórios vendas</span>
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/relatorios/vendas-finalizadas(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/relatorios/vendas-finalizadas(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Finalizadas</a>
						</li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" 
							controle-estoque:menu="@{/{tenantid}/relatorios/vendas-finalizadas-por-produto.*(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/relatorios/vendas-finalizadas-por-produto(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Finalizadas por produto</a>
						</li>
					</ul>
				</li>
				
				<li class="aw-menu__item" sec:authorize="hasRole('ADMINISTRADOR')">
					<a href="#"> 
						<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatório compras</span>
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" controle-estoque:menu="@{/{tenantid}/relatorios/compras-produtos(tenantid=${user_tenantid})}">
							<a th:href="@{/{tenantid}/relatorios/compras-produtos(tenantid=${user_tenantid})}"
								class="js-tooltip" rel="tooltip" data-placement="top">Produtos estoque abaixo do mínimo</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</aside>
</body>
</html>