<script id="foto-produto" type="text/x-handlebars-template">
	<div class="row  js-foto-produto">
		<div class="col-md-4"></div>
		<div class="col-md-4  text-center">
			<a href="#" class="thumbnail">
				<img src="{{url}}"></img>
			</a>
			<button type="button" class="btn  btn-link  js-remove-foto"><span class="glyphicon  glyphicon-remove"  
				sec:authorize="hasRole('CADASTRAR_PRODUTO')"></span></button>
		</div>
		<div class="col-md-4"></div>
	</div>
</script>