<script id="tabela-pesquisa-rapida-produto" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-bordered">
		<thead>
			<tr>
				<th colspan="2" class="text-center">Produto</th>
				<th colspan="2" class="text-center">Localização</th>
				<th colspan="2" class="text-center">Depósido</th>
	            <th colspan="2" class="text-center">Empresa</th>
			</tr>
			<tr>
				<th class="table-col-descricao">Descricao</th>
				<th class="table-col-unidade-medida">Unidade de medida</th>
				
				<th class="table-col-endereco-localizacao">Endereço</th>
				<th class="table-col-descricao">Descrição</th>

				<th class="table-col-codigo">Código</th>
	            <th class="table-col-descricao">descricao</th>

				<th class="table-col-cnpj">CNPJ</th>
	            <th class="table-col-nome-empresarial">Nome empresarial</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo-produto="{{codigo}}" data-descricao-produto="{{descricao}}" data-local-fixo-produto="{{localFixo}}"
						data-familia-unidade-medida="{{familiaUnidadeMedida}}" data-localizacao="{{json localizacao}}"						
						class="js-produto-pesquisa-rapida">
						<td>{{descricao}}</td>
						<td>{{descricaoTipoUnidadeMedida}}</td>	
						<td>{{localizacao.endereco}}</td>
						<td>{{localizacao.descricao}}</td>
						<td>{{localizacao.deposito.codigo}}</td>
						<td>{{localizacao.deposito.descricao}}</td>
						<td>{{localizacao.deposito.empresa.cpfOuCnpj}}</td>
						<td>{{localizacao.deposito.empresa.nomeEmpresarial}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="8">Nenhuma produto encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
