<script id="tabela-pesquisa-rapida-deposito" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-1">Código Empresa</th>
				<th class="col-sm-5">Nome Empresarial</th>
				<th class="col-sm-1">Código Depósito</th>
				<th class="col-sm-5">Descrição</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo-empresa="{{empresa.codigo}}" data-cnpj="{{empresa.cpfOuCnpj}}" data-nome-empresarial="{{empresa.nomeEmpresarial}}" 
						data-codigo-deposito="{{codigo}}" data-descricao="{{descricao}}" class="js-deposito-pesquisa-rapida">
						<td>{{empresa.codigo}}</td>
						<td>{{empresa.nomeEmpresarial}}</td>
						<td>{{codigo}}</td>
						<td>{{descricao}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="3">Nenhuma depósito encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
