<script id="tabela-pesquisa-rapida-localizacao" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-bordered">
		<thead>
			<tr>
				<th colspan="2" class="text-center">Localização</th>
				<th colspan="2" class="text-center">Depósido</th>
	            <th colspan="2" class="text-center">Empresa</th>
			</tr>
			<tr>
				<th class="table-col-endereco-localizacao">Endereço</th>
				<th class="table-col-descricao">Descrição</th>

				<th class="table-col-codigo">Código</th>
	            <th class="table-col-descricao">descricao</th>

				<th class="table-col-cnpj">CNPJ</th>
	            <th class="table-col-nome-empresarial">Nome empresarial</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo-localizacao="{{codigo}}" data-endereco-localizacao="{{enderecoComFormatacao}}" data-descricao-localizacao="{{descricao}}" 
						data-deposito="{{json deposito}}" class="js-localizacao-pesquisa-rapida">
						<td>{{enderecoComFormatacao}}</td>
						<td>{{descricao}}</td>
						<td>{{deposito.codigo}}</td>
						<td>{{deposito.descricao}}</td>
						<td>{{deposito.empresa.cpfOuCnpj}}</td>
						<td>{{deposito.empresa.nomeEmpresarial}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="6">Nenhuma localização encontrada</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
