<script id="tabela-pesquisa-rapida-fornecedor" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-2">Código</th>
				<th class="col-sm-4">CPF/CNPJ</th>
				<th class="col-sm-6">Nome Empresarial</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo="{{codigo}}" data-cpf-ou-cnpj="{{cpfOuCnpj}}" data-nome-empresarial="{{nomeEmpresarial}}" class="js-fornecedor-pesquisa-rapida">
						<td>{{codigo}}</td>
						<td>{{cpfOuCnpj}}</td>
						<td>{{nomeEmpresarial}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="3">Nenhuma fornecedor encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
