<script id="tabela-pesquisa-rapida-mesa" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-12">Número da mesa</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo="{{codigo}}" data-nr-mesa="{{nrMesa}}" class="js-mesa-pesquisa-rapida">
						<td>{{nrMesa}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="1">Nenhuma mesa encontrada</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
