<script id="template-autocomplete-produto-venda" type="text/x-handlebars-template">
	<div class="y-tabela-item">
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--foto">
			<img src="{{urlThumbnailFoto}}" class="img-responsive" />
		</div>
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--detalhes">
			<span class="y-tabela-produto-nome">{{descricao}}</span>
		</div>
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--valores">
			<div class="y-tabela-produto-valor-medio">R${{valorFormatado}}</div>
		</div>
	</div>
</script>