<script id="template-autocomplete-localizacao" type="text/x-handlebars-template">
	<div class="y-template-pessoa">
		<div class="y-colunas-template-pessoa y-codigo-template-pessoa text-left">
			<span> <strong>{{codigo}}</strong></span>
		</div>
		<div class="y-colunas-template-pessoa y-cpf-cnpj-template-pessoa">
			<span><strong>{{endereco}}</strong></span>
		</div>
		<div class="y-colunas-template-pessoa y-nome-template-pessoa  text-right">
			<span> <strong>{{descricao}}</strong></span>
		</div>
	</div>
</script>