<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br">

<head>
	<title>Cadastro de adicional do lanche</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${adicional.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/adicionais(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${adicional}" class="form-vertical"
				th:action="${adicional.novo} ? @{/{tenantid}/adicionais/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/adicionais/{codigo}(codigo=${adicional.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			<input type="hidden" th:field="*{codigo}"/>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-10  y-required" controle-estoque:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" th:readonly="${not adicional.novo}"/>
				</div>
				
				<div class="col-md-12 col-lg-2  form-group  y-required" controle-estoque:classforerror="valorUnitario">
					<label for="valorUnitario" class="control-label">Valor unitário</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorUnitario" type="text" class="form-control  js-decimal" 
							th:field="*{valorUnitario}"/>
					</div>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script>
	$(function() {
		$('#valorUnitario').val(Yahto.formatarMoeda($('#valorUnitario').val()));
	});
	</script>
</th:block>
</html>
