<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de adicionais</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de adicionais</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/adicionais/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo adicional</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${adicionalFilter}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Adicional</label>
					<input type="text" class="form-control" id="adicional" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  y-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-col-acoes">Ações</th>
						<th class="table-col-codigo">Código</th>
						<th>
							<controle-estoque:order page="${pagina}" field="nome" text="Nome"/>
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="adicional : ${pagina.conteudo}">
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
									th:href="@{/{tenantid}/adicionais/{codigo}(tenantid=${tenantid}, codigo=${adicional.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/{tenantid}/adicionais/{codigo}(tenantid=${tenantid}, codigo=${adicional.codigo})}"
									data:objeto="${adicional.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						<td class="text-center" th:text="${adicional.codigo}"></td>
						<td th:text="${adicional.nome}"></td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum adicional encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<controle-estoque:pagination page="${pagina}"/>
		
	</div>

</section>
</body>
</html>