<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de fornecedor</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${fornecedor.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/fornecedores(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${fornecedor}" class="form-vertical"
				th:action="${fornecedor.novo} ? @{/{tenantid}/fornecedores/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/fornecedores/{codigo}(codigo=${fornecedor.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>
            
            <div class="row">
				<div class="form-group  col-md-12   col-lg-3  y-required" controle-estoque:classforerror="tipoPessoa">
					<label class="control-label">Tipo pessoa</label> 
					<div>
						<th:block th:each="tipoPessoa : ${tiposPessoa}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
									th:field="*{tipoPessoa}" th:value="${tipoPessoa}" 
									data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}"> 
								<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
							</div>
						</th:block>
					</div>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3 y-required  hidden js-container-unidade-empresa" controle-estoque:classforerror="unidadeEmpresa">
					<label for="unidadeEmpresa" class="control-label">Unidade</label>
					<select id="unidadeEmpresa" class="form-control" th:field="*{unidadeEmpresa}" th:disabled="${fornecedor.detalhes}">
	                    <option value="">Selecione a unidade</option>
	                    <option th:each="unidadeEmpresa : ${unidadesEmpresas}" th:value="${unidadeEmpresa}" th:text="${unidadeEmpresa.descricao}">Matriz</option>
	                </select>
				</div>

				<div class="form-group  col-md-12  col-lg-9  js-container-cpf-ou-cnpj  y-required" controle-estoque:classforerror="cpfOuCnpj">
					<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" disabled/>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12 col-lg-6  js-container-nome-empresarial  y-required" controle-estoque:classforerror="nomeEmpresarial">
					<label for="nomeEmpresarial" class="control-label">Nome empresarial</label>
					<input type="text" class="form-control" id="nomeEmpresarial" th:field="*{nomeEmpresarial}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-6  js-container-nome-fantasia">
					<label for="nomeFantasia" class="control-label">Nome fantasia</label>
					<input type="text" class="form-control" id="nomeFantasia" th:field="*{nomeFantasia}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group col-md-12 col-lg-6 y-required" controle-estoque:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-3" controle-estoque:classforerror="telefone1">
					<label for="telefone1" class="control-label">Telefone 1</label>
					<input type="text" class="form-control  js-phone-number" id="telefone1" th:field="*{telefone1}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-3" controle-estoque:classforerror="telefone2">
					<label for="telefone2" class="control-label">Telefone 2</label>
					<input type="text" class="form-control  js-phone-number" id="telefone2" th:field="*{telefone2}" th:disabled="${fornecedor.detalhes}"/>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12 col-lg-6">
					<label for="condicaoPagamento" class="control-label">Condição de pagamento</label>
					<input type="text" class="form-control" id="condicaoPagamento" th:field="*{condicaoPagamento}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group col-md-12 col-lg-3">
					<label for="fax">Fax</label>
					<input type="text" class="form-control  js-phone-number" id="fax" th:field="*{fax}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-3">
					<label for="celular">Celular</label>
					<input type="text" class="form-control  js-phone-number" id="celular" th:field="*{celular}" th:disabled="${fornecedor.detalhes}"/>
				</div>
			</div>			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="endereco.cep">
					<label for="cep" class="control-label">CEP</label>
					<input type="text" class="form-control js-cep" id="cep" th:field="*{endereco.cep}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-5">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control  js-estado" th:field="*{endereco.estado}" th:disabled="${fornecedor.detalhes}">
		            	<option value="">Selecione o estado</option>
		                <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
		            </select>
				</div>
					
				<div class="form-group col-md-12 col-lg-5 y-required" controle-estoque:classforerror="endereco.cidade">
					<label  for="cidade" class="control-label">Cidade</label>
					<div class="y-field-action">
						<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
						<select id="cidade" class="form-control  js-cidade" data:url="@{/cidades}" 
								th:field="*{endereco.cidade}" th:disabled="${fornecedor.detalhes}">
						</select>
							
						<div class="y-field-action__icon  js-img-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-10 y-required" controle-estoque:classforerror="endereco.logradouro">
					<label for="logradouro" class="control-label">Logradouro</label>
					<input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-2 y-required" controle-estoque:classforerror="endereco.numero">
					<label for="numero" class="control-label">Número</label>
					<input type="text" class="form-control  js-plain" id="numero" th:field="*{endereco.numero}" th:disabled="${fornecedor.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6">
					<label for="complemento">Complemento</label>
					<input type="text" class="form-control" id="complemento" th:field="*{endereco.complemento}" th:disabled="${fornecedor.detalhes}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-6 y-required" controle-estoque:classforerror="endereco.bairro">
					<label for="bairro" class="control-label">Bairro</label>
					<input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}" th:disabled="${fornecedor.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12" controle-estoque:classforerror="produtos">
					<fieldset>
						<legend>Produto(s)</legend>
						<input type="text" class="form-control  js-descricao-produto-input" id="produtos" 
							placeholder="Pesquise e adicione o produto pela descrição" autofocus="autofocus"
							data:url="@{/{tenantid}/produtos/filtro-cadastro-fornecedor(tenantid=${tenantid})}" th:unless="${fornecedor.detalhes}"/>
	
						<div class="js-tabela-produtos-container">
							<th:block th:replace="fornecedor/TabelaProdutosFornecedor"/>					
					    </div>
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${fornecedor.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${fornecedor.detalhes}">Salvar</button>
		</form>
	</div>

	<th:block th:replace="hbs/TemplateAutocompleteProduto"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/yahto.autocomplete-hbs.min.js}"></script>
	<script th:src="@{/javascripts/min/estabelecimento.mascara-tipo-pessoa.min.js}"></script>
	<script th:src="@{/javascripts/min/combo-estado-cidade.min.js}"></script>
	<script th:src="@{/javascripts/min/yahto.tabela-abstrata-objects.min.js}"></script>
	
	<script>
		$(function() {		
			var autocompleteProduto = new Yahto.AutocompleteHbs('descricao', $('.js-descricao-produto-input'), 
					$('#template-autocomplete-produto'), 'produto-selecionado');
			autocompleteProduto.iniciar();
			
			var tabelaProdutos = new Yahto.TabelaAbstrataDeObjects(autocompleteProduto, $('.js-tabela-produtos-container'), 'produto-selecionado',
					'.js-exclusao-produto', 'produto', 'codigo-produto');
			tabelaProdutos.iniciar();
		});
	</script>
</th:block>
</html>