<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="table-responsive">
		<table class="table  table-striped">
			<thead>
				<tr>
            		<th class="table-col-codigo">Código</th>
                	<th class="table-col-descricao">Descrição</th>
                	<th class="table-col-unidade-medida">Unidade Medida</th>
                	<th class="table-col-valores">Valor unitário</th>
					<th class="table-col-acoes">Ações</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.codigo}"></td>
					<td th:text="${produto.descricao}"></td>
					<td th:text="${produto.tipoUnidadeMedida.descricao}"></td>
					<td th:text="|R$ ${#numbers.formatDecimal(produto.valorUnitario,1,2)}|"></td>
					<td class="text-center">
						<a class="btn  btn-link  btn-xs" title="Excluir" th:unless="${produto.detalhes}"> 
							<span data:codigo-produto="${produto.codigo}" 
								class="glyphicon glyphicon-remove  js-exclusao-produto">
							</span>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="7" th:if="${#lists.isEmpty(produtos)}">Nenhum produto encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>