<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de mesa</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Cadastro de mesa</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/mesas(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${mesa}" class="form-vertical"
				th:action="${mesa.nova} ? @{/{tenantid}/mesas/nova(tenantid=${tenantid})} : 
							@{/{tenantid}/mesas/{codigo}(codigo=${mesa.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="form-group  col-md-12  col-lg-12 y-required" controle-estoque:classforerror="nrMesa">
					<label for="nrMesa" class="control-label">Nº da mesa</label>
					<input type="text" class="form-control" id="nrMesa" th:field="*{nrMesa}" th:disabled="${mesa.detalhes}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-xs-12  y-required" controle-estoque:classforerror="deposito">
					<fieldset>
						<legend>Empresa / Depósito*</legend>
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1">
								<fieldset>
									<legend>Empresa</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoEmpresa">Código</label>
											<input id="codigoEmpresa" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.empresa.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-3">
											<label for="cnpjEmpresa" class="control-label">CNPJ</label>
											<input type="text" class="form-control js-mascara-cnpj" id="cnpjEmpresa" 
												th:field="*{deposito.empresa.cpfOuCnpj}" readonly="readonly"/>
										</div>
										
										<div class="form-group  col-md-12 col-lg-7">
											<label for="descricaoEmpresa" class="control-label">Nome empresarial</label>
											<input type="text" class="form-control" id="descricaoEmpresa" 
												th:field="*{deposito.empresa.nomeEmpresarial}" readonly="readonly"/>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1  y-required">
								<fieldset>
									<legend>Depósito</legend>
									<div class="row">
										<div class="form-group  col-md-12 col-lg-2">
											<label for="codigoDeposito">Código</label>
											<input id="codigoDeposito" type="text" class="form-control" readonly="readonly" 
												th:field="*{deposito.codigo}"/>
										</div>
										<div class="form-group  col-md-12 col-lg-10">
											<label class="control-label" for="descricaoDeposito">Descrição</label>
											<div class="input-group">
												<input id="descricaoDeposito" type="text" readonly="readonly" class="form-control" 
													th:field="*{deposito.descricao}" placeholder="Clique na lupa para pesquisar o depósito"/>
										      	<span class="input-group-btn">
										        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${mesa.detalhes}"
										        			data-toggle="modal" data-target="#pesquisaRapidaDepositos">
										        		<i class="glyphicon  glyphicon-search"></i>
										       		</button>
										     	 </span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${mesa.detalhes}">Salvar</button>
		</form>
	</div>

	<th:block th:replace="deposito/PesquisaRapidaDepositos :: pesquisaRapidaDepositos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/deposito.pesquisa-rapida.min.js}"></script>
	<script>
	$(function() {
		$('#nrMesa').mask('000');
	});
	</script>
</th:block>
</html>