<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de mesas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de mesas</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('CADASTRAR_MESA')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/mesas/nova(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova mesa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${mesaFilter}" th:action="@{/{tenantid}/mesas(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group col-md-12 col-lg-2">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control js-number" id="codigo" th:field="*{codigo}" placeholder="Código" autofocus="autofocus"/>
				</div>

				<div class="form-group col-md-12 col-lg-2">
					<label class="control-label" for="nrMesa">Nrº da mesa</label>
					<input type="text" class="form-control " id="nrMesa" th:field="*{nrMesa}" placeholder="Qual mesa você esta procurando?"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-2">
					<label class="control-label" for="codigoDeposito">Código depósito</label>
					<input type="text" class="form-control js-number" id="codigoDeposito" 
						th:field="*{deposito.codigo}" placeholder="Código do depósito" autofocus="autofocus"/>
				</div>

				<div class="form-group col-md-12 col-lg-6">
					<label class="control-label" for="descricaoDeposito">Descrição de depósito</label>
					<input type="text" class="form-control " id="descricaoDeposito" 
						th:field="*{deposito.descricao}" placeholder="Qual depósito você esta procurando?"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  y-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-valores">
	                		<controle-estoque:order page="${pagina}" field="nrMesa" text="'Nrº da mesa'"/>
	                	</th>
	                	<th class="table-col-valores">Códgio depósito</th>
	                	<th class="table-col-descricao">
	                		<controle-estoque:order page="${pagina}" field="d.descricao" text="'Descrição depósito'"/>
	                	</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="mesa : ${pagina.conteudo}">
						<td th:text="${mesa.codigo}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/mesas/{codigo}(tenantid=${tenantid}, codigo=${mesa.codigo})}"> 
								<span th:text="${mesa.nrMesa}"></span>
							</a>
						</td>
						<td th:text="${mesa.deposito.codigo}"></td>
						<td th:text="${mesa.deposito.descricao}"></td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="4">Nenhuma mesa encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>