<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:brewer="http://brewer.algaworks.com"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Dashboard</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <h1>Dashboard</h1>
        </div>
    </div>

    <div class="container-fluid" th:action="@{/{tenantid}(tenantid=${tenantid})}">
        
        <div class="row  js-base-url"  data:base-url="@{/{tenantid}(tenantid=${tenantid})}">
            <div class="col-sm-4">
                <div class="aw-box">
                    <div class="aw-box__icon">
                        <i class="fa  fa-usd  fa-3x"></i>
                    </div>
                    <div class="aw-box__value js-total-ano" th:text="${{vendasNoAno}}"></div>
                    <div class="aw-box__title">Vendas no ano</div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="aw-box">
                    <div class="aw-box__icon">
                        <i class="fa  fa-signal  fa-3x"></i>
                    </div>
                    <div class="aw-box__value js-vendas-mes" th:text="${{vendasNoMes}}"></div>
                    <div class="aw-box__title">Vendas no mês</div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="aw-box">
                    <div class="aw-box__icon">
                        <i class="fa  fa-shopping-cart  fa-3x"></i>
                    </div>
                    <div class="aw-box__value js-ticket-medio" th:text="${{ticketMedio}}"></div>
                    <div class="aw-box__title">Ticket médio no ano</div>
                </div>
            </div>
        </div>
        
         <div class="row">
            <div class="col-sm-6">
                <div class="aw-graph-box">
                    <div class="aw-graph-box__header">
                        <h2 class="aw-graph-box__title"><strong>Quantidade de vendas por mês</strong> <small>(últimos 6 meses)</small></h2>
                    </div>
                    <div class="aw-graph-box__content">
                        <div>
                            <canvas id="graficoVendasPorMes" height="160"></canvas>
                        </div>
                    </div>
                </div>
            </div>

         	<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title"><strong>Faturamento por mês</strong> <small>(últimos 6 meses)</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<div>
							<canvas id="graficoFaturamentosPorMes" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
        </div> 
       
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/vendors/Chart.min.js}"></script>
    
    <script th:src="@{/javascripts/min/dashboard.graficos.min.js}"></script>
    
    <script>
		$(function() {
			$('.js-total-ano').text('R$ ' + Yahto.formatarMoeda($('.js-total-ano').text()));
			$('.js-vendas-mes').text('R$ ' + Yahto.formatarMoeda($('.js-vendas-mes').text()));
			$('.js-ticket-medio').text('R$' + Yahto.formatarMoeda($('.js-ticket-medio').text()));
		});
	</script>
</th:block>

</html>