<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de deposito</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${deposito.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/depositos(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${deposito}" class="form-vertical"
				th:action="${deposito.novo} ? @{/{tenantid}/depositos/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/depositos/{codigo}(codigo=${deposito.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="form-group col-lg-12 y-required" controle-estoque:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<input type="text" class="form-control" id="descricao" th:field="*{descricao}" th:disabled="${deposito.detalhes}"/>
				</div>
			</div>
			
			<div class="row  js-container-empresa">
				<div class="form-group  col-xs-12  y-fieldset-exterior-nivel1  y-required" controle-estoque:classforerror="empresa">
					<fieldset>
						<legend>Empresa</legend>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoEmpresa">Código</label>
								<input id="codigoEmpresa" type="text" class="form-control" readonly="readonly" th:field="*{empresa.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cnpjEmpresa" class="control-label">CNPJ</label>
								<input type="text" class="form-control js-mascara-cnpj" id="cnpjEmpresa" th:field="*{empresa.cpfOuCnpj}" readonly="readonly"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label class="control-label" for="descricaoEmpresa">Nome empresarial</label>
								<div class="input-group">
									<input id="descricaoEmpresa" type="text" readonly="readonly" class="form-control" 
										th:field="*{empresa.nomeEmpresarial}" placeholder="Clique na lupa para pesquisar a empresa"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button"
							        			data-toggle="modal" data-target="#pesquisaRapidaEmpresas">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${deposito.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Situação</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{situacao}" th:disabled="${deposito.detalhes}"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${deposito.detalhes}">Salvar</button>
		</form>
	</div>

	<th:block th:replace="empresa/PesquisaRapidaEmpresas :: pesquisaRapidaEmpresas"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/empresa.pesquisa-rapida.min.js}"></script>
</th:block>
</html>