<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br">

<head>
	<title>Cadastro de ingrediente</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${ingrediente.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/ingredientes(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${ingrediente}" class="form-vertical"
				th:action="${ingrediente.novo} ? @{/{tenantid}/ingredientes/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/ingredientes/{codigo}(codigo=${ingrediente.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			<input type="hidden" th:field="*{codigo}"/>
			
			<div class="row">
				<div class="form-group  col-sm-12" controle-estoque:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" th:disabled="${ingrediente.detalhes}"/>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary" th:unless="${ingrediente.detalhes}">Salvar</button>
		</form>
	</div>
</section>

</html>
