<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de venda</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${venda.tituloCadastro}"></h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/vendas(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${venda}" class="form-vertical  js-formulario-principal"
				th:action="${venda.novo} ? @{/{tenantid}/vendas/nova(tenantid=${tenantid})} : 
							@{/{tenantid}/vendas/{codigo}(codigo=${venda.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
		
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<input type="hidden" th:field="*{codigo}"/>
			<input type="hidden" th:field="*{usuario}"/>
			<input type="hidden" th:field="*{pedidoVenda}"/>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="aw-box  js-valor-total-box-container" controle-estoque:classforerror="valorTotal">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-3x"></i>
						</div>
						<input type="hidden" id="valorTotal" th:value="${{venda.valorTotal}}"/>
						<div class="aw-box__value">R$ <span class="js-valor-total-box" th:text="${{venda.valorTotal}}">0,00</span></div>
						<div class="aw-box__title">Total</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-tag  fa-3x"></i>
						</div>
						<div class="aw-box__value" th:text="${venda.status.descricao}">Em andamento</div>
						<div class="aw-box__title">Status</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-calendar  fa-3x"></i>
						</div>
						<div class="aw-box__value">
							<span class="js-tooltip" th:if="${venda.diasCriacao == 0}">Hoje</span>
							<span class="js-tooltip" th:if="${venda.diasCriacao == 1}">Há 1 dia</span>
							<span class="js-tooltip" th:if="${venda.diasCriacao > 1}">Há [[${venda.diasCriacao}]] dias</span>
						</div>
						<div class="aw-box__title">Criação</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-xs-12 col-lg-6" controle-estoque:classforerror="tipoPagamento">
					<label class="control-label y-labels-venda">Tipo de pagamento</label> 
					<div>
						<th:block th:each="tipoPagamento : ${tiposPagamentos}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${tipoPagamento}|" th:field="*{tipoPagamento}" th:value="${tipoPagamento}"
									class="js-tipos-pagamentos" th:disabled="${venda.detalhes}"> 
								<label class="control-label y-valores-venda" th:for="|id_${tipoPagamento}|" th:text="${tipoPagamento.descricao}">Dinheiro</label>
							</div>
						</th:block>
					</div>
				</div>
				
				<div class="form-group  col-xs-12  col-lg-6  js-container-valor-cartao"
					th:classappend="${{venda.tipoPagamento}} == 'DINHEIRO' ? 'hidden'">
					<label class="control-label y-labels-venda" for="valorCartao">Valor cartão</label>
					<div class="input-group">
	      				<div class="input-group-addon y-valores-venda">R$</div> 
						<input type="text" maxlength="14" class="form-control  js-decimal  y-valores-venda" id="valorCartao" 
							th:field="*{valorCartao}" th:disabled="${venda.detalhes}"/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group  col-xs-12  col-lg-3 js-container-valor-dinheiro" 
					th:classappend="${{venda.tipoPagamento}} == 'CARTAO' ? 'hidden'">
					<label class="control-label y-labels-venda" for="valorDinheiro">Valor dinheiro</label>
					<div class="input-group">
	      				<div class="input-group-addon y-valores-venda">R$</div> 
						<input type="text" maxlength="14" class="form-control  js-decimal  y-valores-venda" id="valorDinheiro" 
							th:field="*{valorDinheiro}" th:disabled="${venda.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-xs-12  col-lg-3 js-container-valor-troco" 
					th:unless="${venda.salvarProibido}" sec:authorize="hasRole('CADASTRAR_VENDA')"
					th:classappend="${{venda.tipoPagamento}} != 'DINHEIRO' ? 'hidden'">
					<label class="control-label y-labels-venda" for="valorTroco">Valor do troco</label>
					<div class="input-group">
	      				<div class="input-group-addon y-valores-venda">R$</div> 
						<input type="text" maxlength="14" class="form-control  js-decimal y-valores-venda" id="valorTroco" 
							th:field="*{valorTroco}" readonly="readonly"/>
					</div>
				</div>
				
				<div class="form-group  col-xs-12" th:classappend="${venda.salvarProibido || 
						not #authorization.request.isUserInRole('CADASTRAR_VENDA')} ? 'col-lg-4' : 'col-lg-3'">
					<label class="control-label y-labels-venda" for="valorAcrescimo">Valor do acréscimo</label>
					<div class="input-group">
	      				<div class="input-group-addon y-valores-venda">R$</div> 
						<input type="text" maxlength="14" class="form-control  js-decimal y-valores-venda" id="valorAcrescimo" 
							th:field="*{valorAcrescimo}" data:valor="${valorAcrescimo}" th:disabled="${venda.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-xs-12" th:classappend="${venda.salvarProibido || 
						not #authorization.request.isUserInRole('CADASTRAR_VENDA')} ? 'col-lg-5' : 'col-lg-3'">
					<label class="control-label y-labels-venda" for="valorDesconto">Valor do desconto</label>
					<div class="input-group">
	      				<div class="input-group-addon y-valores-venda">R$</div> 
						<input type="text" maxlength="14" class="form-control  js-decimal y-valores-venda" id="valorDesconto" 
							th:field="*{valorDesconto}" data:valor="${valorDesconto}" th:disabled="${venda.detalhes}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-xs-12  y-required" controle-estoque:classforerror="cliente.codigo"
					th:classappend="${venda.mesa != null} ? 'hidden'">
					<fieldset>
						<legend>Cliente</legend>
						<div class="row">
							<div class="form-group  col-md-12 col-lg-2">
								<label for="codigoCliente">Código</label>
								<input id="codigoCliente" type="text" class="form-control" readonly="readonly" th:field="*{cliente.codigo}"/>
							</div>
							<div class="form-group  col-md-12 col-lg-3">
								<label for="cpfOuCnpjCliente" class="control-label">CPF/CNPJ</label>
								<input type="text" class="form-control " id="cpfOuCnpjCliente" th:field="*{cliente.cpfOuCnpj}" readonly="readonly"/>
							</div>
							<div class="form-group  col-md-12 col-lg-7">
								<label class="control-label" for="descricaoCliente">Nome empresarial</label>
								<div class="input-group">
									<input id="descricaoCliente" type="text" readonly="readonly" class="form-control" 
										th:field="*{cliente.nomeEmpresarial}" placeholder="Clique na lupa para pesquisar o cliente"/>
							      	<span class="input-group-btn">
							        	<button class="btn  btn-default  js-tooltip" type="button" th:disabled="${not venda.novo}"
							        			data-toggle="modal" data-target="#pesquisaRapidaClientes">
							        		<i class="glyphicon  glyphicon-search"></i>
							       		</button>
							     	 </span>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row" th:classappend="${venda.mesa == null} ? hidden">
	        	<div class="form-group  col-xs-12">
	        		<div class="bg-primary text-white  y-mesa-selecionada">
	        			<input type="hidden" id="codigoMesa" th:field="*{mesa.codigo}"/>
	        			<input type="hidden" id="nrMesa" th:field="*{mesa.nrMesa}"/>
		        		<h1 th:text="|Mesa - *{mesa.nrMesa}|"></h1>
	        		</div>
	        	</div>
	        </div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<ul class="nav nav-tabs  js-abas-venda">
					  <li role="presentation" class="active"><a href="#produtos">Produtos</a></li>
					  <li role="presentation"><a href="#entrega">Entrega</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active" id="produtos">

					<!-- <div class="row">
						<div class="form-group  col-lg-12">
							<input type="text" class="form-control  js-nome-produto-input" id="produto" 
								placeholder="Pesquise e adicione o produto pelo nome" autofocus="autofocus" 
								data:url="@{/{tenantid}/produtos/filtro-cadastro-pedido-ou-venda(tenantid=${tenantid})}"
								th:unless="${venda.salvarProibido}" sec:authorize="hasRole('CADASTRAR_VENDA')"/>
						</div>
					</div> -->
					
					<div class="y-tabela-produtos  js-tabela-produtos-container" data:valor="${valorTotalItens}">
						<th:block th:replace="venda/TabelaItensVenda"/>
					</div>
				</div>
				
				<div class="tab-pane" id="entrega">
					<div class="row">
						<div class="form-group  col-sm-3" controle-estoque:classforerror="dataEntrega">
							<label class="control-label" for="dataEntrega">Data da entrega</label>
							<input type="text" class="form-control  js-date" id="dataEntrega" th:field="*{dataEntrega}" th:disabled="${venda.detalhes}"/>
						</div>
						
						<div class="form-group  col-sm-3">
							<label class="control-label" for="horarioEntrega">Horário de entrega</label>
							<input type="text" class="form-control  js-hour" id="horarioEntrega" th:field="*{horarioEntrega}" th:disabled="${venda.detalhes}"/>
						</div>
						
						<div class="form-group  col-sm-6">
							<label class="control-label" for="valorFrete">Valor do frete</label>
							<div class="input-group">
			      				<div class="input-group-addon">R$</div> 
								<input type="text" maxlength="14" class="form-control  js-decimal" id="valorFrete" 
									th:field="*{valorFrete}" data:valor="${valorFrete}" th:disabled="${venda.detalhes}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${{venda.status}} == 'EM_ANDAMENTO'">
            	<div class="form-group  col-xs-12 ">
					<fieldset>
						<legend>Cálculo dos itens por pessoa</legend>
						<div class="row">
							<div>
				            	<div class="col-md-12 col-lg-2  form-group">
									<label for="totalCalcItens" class="control-label y-labels-venda">Total</label>
									<div class="input-group">
										<div class="input-group-addon y-valores-venda">R$</div>
										<input id="totalCalcItens" type="text" class="form-control y-valores-venda js-decimal" 
											readonly="readonly" value="0,00"/>
									</div>
								</div>
				            	
				            	<div class="col-md-12  col-lg-1  form-group">
				            		<h1 style="font-size: 40px; margin-top: 27px; text-align: center;">/</h1>
				            	</div>
				            	<div class="col-md-12  col-lg-1  form-group">
				            		<label for="qtdPessoas" class="control-label y-labels-venda">Qtd</label>
									<input type="text" class="form-control y-valores-venda js-plain" value="1" id="qtdPessoas"/>
				            	</div>
				            	<div class="col-md-12  col-lg-1  form-group">
				            		<h1 style="font-size: 40px; margin-top: 27px; text-align: center;">=</h1>
				            	</div>
				            	<div class="col-md-12 col-lg-2  form-group">
									<label for="totalPorPessoa" class="control-label y-labels-venda">Total por pessoa</label>
									<div class="input-group">
										<div class="input-group-addon y-valores-venda">R$</div>
										<input id="totalPorPessoa" type="text" class="form-control y-valores-venda js-decimal" 
											readonly="readonly" value="0,00" style="font-size: 1.3em;"/>
									</div>
								</div>
								
								<div class="col-md-12 col-lg-2  form-group">
									<label for="totalPago" class="control-label y-labels-venda">Total pago</label>
									<div class="input-group">
										<div class="input-group-addon y-valores-venda">R$</div>
										<input id="totalPago" type="text" class="form-control y-valores-venda js-decimal" 
											readonly="readonly" value="0,00" style="font-size: 1.3em;"/>
									</div>
								</div>
								
								<div class="col-md-12  col-lg-3  form-group" style="margin-top: 30px; text-align: right;">
				            		<button type="button" class="btn  btn-success js-confirmar-calc-itens-btn" 
				            			disabled="disabled" data:confirmar-calc-itens="dinheiro">Ok, dinheiro</button>
				            		<button type="button" class="btn  btn-success js-confirmar-calc-itens-btn" 
				            			disabled="disabled" data:confirmar-calc-itens="cartao">Ok, cartão</button>
				            		<button type="button" class="btn  btn-danger js-reset-calc-itens-btn" disabled="disabled">Reset</button>
				            	</div>
							</div>
			            </div>
			        </fieldset>
				</div>
            </div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${venda.detalhes}">
					</textarea>
				</div>
			</div>	
			
			<div class="row" style="clear: both" sec:authorize="hasAnyRole('CADASTRAR_VENDA', 'ADMINISTRADOR')">
				<div class="col-lg-12">
					<!-- <div class="btn-group" th:unless="${venda.salvarProibido}">
					  <button type="submit" class="btn  btn-primary  js-submit-btn" data:acao="salvarFinalizar">Salvar e finalizar</button>
					  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
					    <span class="caret"></span>
					  </button>
					  
					  <ul class="dropdown-menu">
					    <li><a href="#" class="js-submit-btn" data:acao="salvarEmAndamento">Salvar e manter em andamento</a></li>
					  </ul>
					</div> -->
					
					<div th:unless="${venda.salvarProibido}" sec:authorize="hasRole('CADASTRAR_VENDA')">
						<button class="btn  btn-primary  js-submit-btn" data:acao="salvarFinalizar">Salvar e finalizar</button>	
						
						<button class="btn  btn-warning  js-submit-btn" data:acao="salvarPendente" 
							th:if="${venda.cliente.permiteFiado}">Salvar como pendente</button>	
					
						<button class="btn  btn-default  js-submit-btn" data:acao="salvarEmAndamento">Salvar e manter em andamento</button>	
					</div>
				
					<button class="btn  btn-danger  js-submit-btn" data:acao="cancelar"
						th:if="${venda.cancelarPermitido}" sec:authorize="hasRole('ADMINISTRADOR')">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
	
	<th:block th:replace="cliente/PesquisaRapidaClientes :: pesquisaRapidaClientes"></th:block>
	<th:block th:replace="hbs/TemplateAutocompleteProdutoVenda"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/cliente.pesquisa-rapida.min.js}"></script>
	<script th:src="@{/javascripts/min/venda.autocomplete-itens.min.js}"></script>
	<script th:src="@{/javascripts/min/venda.tabela-itens.min.js}"></script>
	<script th:src="@{/javascripts/min/item.calcular-por-pessoa.min.js}"></script>
	<script th:src="@{/javascripts/min/venda.min.js}"></script>
	<script th:src="@{/javascripts/min/venda.botoes-submit.min.js}"></script>
	<script>
	$(function() {
		$('.js-abas-venda a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>

</html>