<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de unidades de medida</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de vendas pendentes</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${vendaFilter}" th:action="@{/{tenantid}/vendas/pendentes(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group  col-lg-12">
					<label class="control-label" for="nomeCliente">Nome cliente</label>
					<input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
	
		<div class="aw-datatable-toolbar" sec:authorize="hasRole('CADASTRAR_VENDA')">
			<button class="btn btn-success  js-situacao-btn disabled" data:situacao="DINHEIRO" 
				data:url="@{/{tenantid}/vendas/pendentes(tenantid=${tenantid})}">
				<span>Finalizar, dinheiro</span>
			</button>
			
			<button class="btn btn-primary  js-situacao-btn disabled" data:situacao="CARTAO" 
				data:url="@{/{tenantid}/vendas/pendentes(tenantid=${tenantid})}">
				<span>Finalizar, cartão</span>
			</button>
		</div>
		
		<div class="table-responsive  y-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-col-checkbox" sec:authorize="hasRole('CADASTRAR_VENDA')">
	            			<div class="checkbox  aw-checkbox-no-margin">
	            				<input type="checkbox" class="js-selecao-todos" th:disabled="${vendas.isEmpty()}"/>
	            				<label></label>
	            			</div>
	            		</th>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-descricao">Cliente</th>
	                	<th>Data de criação</th>
	                	<th>Vendedor</th>
	                	<th>Pedido</th>
	                	<th style="text-align: right;">Valor total</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="venda : ${vendas}">
						<td sec:authorize="hasRole('CADASTRAR_VENDA')">
							<div class="checkbox  aw-checkbox-no-margin">
	            				<input type="checkbox" class="js-selecao" data:codigo="${venda.codigo}" data:valor-total="${venda.valorTotal}">
	            				<label></label>
	            			</div>
						</td>
						<td class="text-left">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes da venda" th:text="${venda.codigo}"
									th:href="@{/{tenantid}/vendas/{codigo}(tenantid=${tenantid}, codigo=${venda.codigo})}"> 
							</a>
						</td>
	                 	<td class="text-left">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes do cliente" th:text="${venda.cliente.nomeEmpresarial}"
									th:href="@{/{tenantid}/clientes/{codigo}(tenantid=${tenantid}, codigo=${venda.cliente.codigo})}"> 
							</a>
						</td>
						<td th:text="${{venda.dataHoraCriacao}}"></td>
						<td th:text="${venda.usuario.nome}"></td>
						<td class="text-left">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes do pedido" th:text="${venda.pedidoVenda.codigo}"
									th:href="@{/{tenantid}/pedidos-vendas/{codigo}(tenantid=${tenantid}, codigo=${venda.pedidoVenda.codigo})}"> 
							</a>
						</td>
						<td th:text="|R$ ${#numbers.formatDecimal(venda.valorTotal,1,2)}|" style="text-align: right;"></td>
	                </tr>
	                
	                <tr th:if="${vendas.isEmpty()}">
	                	<td colspan="7">Nenhuma venda encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 
    	 <div class="row">
	    	 <div th:unless="${vendas.isEmpty()}" class="col-md-12 col-lg-2  form-group">
				<label for="total" class="control-label">Total</label>
				<div class="input-group">
					<div class="input-group-addon">R$</div>
					<input id="total" type="text" class="form-control  js-decimal" readonly="readonly"/>
				</div>
			</div>
    	 </div>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/min/multiselecao.min.js}"></script>
	<script th:src="@{/javascripts/min/pesquisa-vendas.pendentes.min.js}"></script>
</th:block>
</body>
</html>