<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="y-tabela-item  js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
		<div class="checkbox  aw-checkbox-no-margin" th:if="${{venda.status}} == 'EM_ANDAMENTO'">
			<input type="checkbox" class="js-selecao-itens"
				data:codigo="${item.codigo}" data:valor-item="${item.valorTotal}">
			<label></label>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--foto">
			<img th:src="${item.produto.urlThumbnailFoto}" class="img-responsive"/>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--detalhes js-container-porcent-pago hidden">
			<span>
				<input type="text" maxlength="6" 
						class="y-tabela-produto-campo-porcent-pago js-decimal" value="100"/><strong style="font-size: 20px;">%</strong>
			</span>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--detalhes">
			<span class="y-tabela-produto-nome" th:text="${item.produto.descricao}"></span>
		</div>
		
		<div class="y-tabela-item__coluna  y-tabela-item__coluna--valores">
			<div class="y-tabela-produto-valor-pequeno">
				<span class="y-tabela-produto-campo-quantidade" th:text="${item.quantidade}"></span>			
				<span class="y-tabela-produto-campo-valor-unitario">x R$ [[${#numbers.formatDecimal(item.valorUnitario,1,2)}]]</span>
			</div>
			<div class="y-tabela-produto-valor-grande">R$ [[${{#numbers.formatDecimal(item.valorTotal,1,2)}}]]</div>
		</div>
		
		<div class="y-tabela-item__painel-exclusao" th:if="${#authorization.request.isUserInRole('ADMINISTRADOR')}">
			<span class="y-tabela-item__titulo-exclusao">Excluir este item da venda?</span>
			<button type="button" class="btn  btn-danger  js-exclusao-item-btn"
				data:codigo-item-pedido-venda="${item.codigo}">Sim, excluir!</button>
		</div>
	</div>
	
	<div class="y-tabela-produtos__vazio" th:if="${itens.empty}">
		<i class="glyphicon  glyphicon-shopping-cart"></i> 
		<span>Você ainda não adicionou nenhum produto.</span>
	</div>
</html>