<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Abrir/fechar caixa</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${abreFechaCaixa.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2" sec:authorize="hasRole('ADMINISTRADOR')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/abre-fecha-caixas(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${abreFechaCaixa}" class="form-vertical"
				th:action="${abreFechaCaixa.novo} ? @{/{tenantid}/abre-fecha-caixas/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/abre-fecha-caixas/{codigo}(codigo=${abreFechaCaixa.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			<input type="hidden" th:field="*{codigo}"/>
			
			
			<div class="row">
				<input type="hidden" id="dataHoraInicio" th:field="*{dataHoraInicio}"/>
				<input type="hidden" class="js-data-hora-inicio" th:value="*{dataHoraInicio}"/>
				<div class="form-group  col-md-12 col-lg-3 y-required"  controle-estoque:classforerror="dataInicio">
					<label class="control-label" for="dataInicio">Data inicio</label>
					<input type="text" class="form-control " id="dataInicio" 
						th:field="*{dataInicio}" autocomplete="off" readonly="readonly"/>
				</div>
				<div class="form-group  col-md-12 col-lg-3 y-required"  controle-estoque:classforerror="horaInicio">
					<label class="control-label" for="horaInicio">Hora inicio</label>
					<input type="text" class="form-control " id="horaInicio" 
						th:field="*{horaInicio}" autocomplete="off" readonly="readonly"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-3 y-required" controle-estoque:classforerror="valorInicioDinheiro">
					<label for="valorInicioDinheiro" class="control-label">Valor início dinheiro</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorInicioDinheiro" type="text" class="form-control  js-decimal" 
							th:field="*{valorInicioDinheiro}" th:readonly="${not abreFechaCaixa.novo}"/>
					</div>
				</div>				
				
				<div class="form-group col-md-12 col-lg-3 y-required" controle-estoque:classforerror="valorInicioCartao">
					<label for="valorInicioCartao" class="control-label">Valor início cartão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorInicioCartao" type="text" class="form-control  js-decimal" 
							th:field="*{valorInicioCartao}" th:readonly="${not abreFechaCaixa.novo}"/>
					</div>
				</div>	
			</div>
			
			<div class="row js-container-finalizar" 
				th:classappend="${{abreFechaCaixa.opcaoAbreFechaCaixa  != 'FECHAR_CAIXA' && abreFechaCaixa.dataHoraFim == null}} ? 'hidden'">
				<div class="form-group  col-md-12 col-lg-3" >
					<label class="control-label" for="dataFim">Data fim</label>
					<input type="text" class="form-control" id="dataFim" 
						th:field="*{dataFim}" autocomplete="off" readonly="readonly"/>
				</div>
				<div class="form-group  col-md-12 col-lg-3" >
					<label class="control-label" for="horaFim">Hora fim</label>
					<input type="text" class="form-control" id="horaFim" 
						th:field="*{horaFim}" autocomplete="off" readonly="readonly"/>
				</div>
				
				<div class="form-group col-md-12 col-lg-3  y-required" controle-estoque:classforerror="totalDinheiro">
					<label for="totalDinheiro" class="control-label">Valor total dinheiro</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="totalDinheiro" type="text" class="form-control  js-decimal" 
							th:field="*{totalDinheiro}" readonly="readonly"/>
					</div>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3 y-required" controle-estoque:classforerror="totalCartao">
					<label for="totalCartao" class="control-label">Valor total cartão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="totalCartao" type="text" class="form-control  js-decimal" 
							th:field="*{totalCartao}" readonly="readonly"/>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-md-12 col-lg-4  form-group  js-container-finalizar js-container-sangria y-required" controle-estoque:classforerror="valorSangria"
					th:classappend="${abreFechaCaixa.opcaoAbreFechaCaixa == null && abreFechaCaixa.dataHoraFim == null} ? 'hidden'">
					<input type="hidden" id="valorSangriaOriginal" th:field="*{valorSangriaOriginal}">
					<label for="valorSangria" class="control-label">Valor sangria</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorSangria" type="text" class="form-control  js-decimal" 
							th:field="*{valorSangria}" th:readonly="${{abreFechaCaixa.opcaoAbreFechaCaixa != 'RETIRAR_DINHEIRO'}}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-4  form-group  js-container-finalizar js-container-entrada y-required" controle-estoque:classforerror="valorEntrada"
					th:classappend="${abreFechaCaixa.opcaoAbreFechaCaixa == null && abreFechaCaixa.dataHoraFim == null} ? 'hidden'">
					<input type="hidden" id="valorEntradaOriginal" th:field="*{valorEntradaOriginal}">
					<label for="valorEntrada" class="control-label">Valor entrada</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorEntrada" type="text" class="form-control  js-decimal" 
							th:field="*{valorEntrada}" th:readonly="${{abreFechaCaixa.opcaoAbreFechaCaixa != 'ENTRAR_DINHEIRO'}}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-4  form-group js-container-finalizar  y-required" controle-estoque:classforerror="valorTotal"
					th:classappend="${{abreFechaCaixa.opcaoAbreFechaCaixa != 'FECHAR_CAIXA' && abreFechaCaixa.dataHoraFim == null}} ? 'hidden'">
					<label for="valorTotal" class="control-label">Valor total</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorTotal" type="text" class="form-control  js-decimal" 
							th:field="*{valorTotal}" readonly="readonly"/>
					</div>
				</div>
			</div>
			
			<div class="row" th:classappend="${abreFechaCaixa.novo || abreFechaCaixa.dataHoraFim != null} ? 'hidden'">
				<div class="form-group  col-xs-12  y-required" controle-estoque:classforerror="opcaoAbreFechaCaixa">
					<label class="control-label">Retirar dinheiro/Fechar caixa</label> 
					<div>
						<th:block th:each="opcaoAbreFechaCaixa : ${opcoesAbreFechaCaixa}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${opcaoAbreFechaCaixa}|" th:field="*{opcaoAbreFechaCaixa}" th:value="${opcaoAbreFechaCaixa}" 
									class="js-retirar-fechar" th:data-url="@{/{tenantid}/vendas/fechar-caixa(tenantid=${tenantid})}"> 
								<label class="control-label" th:for="|id_${opcaoAbreFechaCaixa}|" 
									th:text="${opcaoAbreFechaCaixa.descricao}">Retirar dinheiro</label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="10" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:readonly="${abreFechaCaixa.dataHoraFim != null}">
					</textarea>
				</div>
			</div>
			
			<div class="row" style="display: flex; justify-content: center;" th:if="${abreFechaCaixa.dataHoraFim == null}">
				<div class="form-group  col-md-12 col-lg-6 " controle-estoque:classforerror="usuario">
					<fieldset>
						<legend>Administrador</legend>
						<div class="row">
							<div class="form-group  col-lg-12  y-required" controle-estoque:classforerror="usuario.email">
								<label for="email" class="control-label">E-mail</label>
								<input type="text" class="form-control" id="email" th:field="*{usuario.email}"/>
							</div>
							<div class="form-group  col-lg-12  y-required" controle-estoque:classforerror="usuario.senha">
								<label for="senha" class="control-label">Senha</label> 
								<input type="password" class="form-control" id="senha" th:field="*{usuario.senha}"/>
							</div>							
						</div>
					</fieldset>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary js-salvar-btn" th:if="${abreFechaCaixa.dataHoraFim == null}"
				th:classappend="${not abreFechaCaixa.novo}  ? hidden">Salvar</button>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/min/abre-fecha-caixa.min.js}"></script>
</th:block>
</html>
