<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa fechamentos de caixa</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa fechamentos de caixa</h1>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${abreFechaCaixaFilter}">
			<div class="row">
				<div class="form-group  col-md-12 col-lg-3">
					<label class="control-label" for="dataInicio">Data inicio</label>
					<input type="text" class="form-control js-date" id="dataInicio" th:field="*{dataInicio}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3">
					<label class="control-label" for="dataFim">Data fim</label>
					<input type="text" class="form-control js-date" id="dataFim" th:field="*{dataFim}" autocomplete="off"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  y-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-col-acoes">Ações</th>
						<th class="table-col-codigo">Código</th>
						<th class="table-col-data-hora">
								<controle-estoque:order page="${pagina}" field="dataHoraInicio" text="'Data e hora inicio'"/>
							</th>
						<th class="table-col-data-hora">Data e hora fim</th>
						<th class="table-col-valores">Valor sangria</th>
						<th class="table-col-valores">Valor início dinheiro</th>
						<th class="table-col-valores">Valor início cartão</th>
						<th class="table-col-valores">Valor total dinheiro</th>
						<th class="table-col-valores">Valor total cartão</th>
						<th class="table-col-valores">Valor total</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="abreFechaCaixa : ${pagina.conteudo}">
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes" 
									th:href="@{/{tenantid}/abre-fecha-caixas/{codigo}(tenantid=${tenantid}, codigo=${abreFechaCaixa.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
						</td>
						<td class="text-center" th:text="${abreFechaCaixa.codigo}"></td>
						<td th:text="${{abreFechaCaixa.dataHoraInicio}}"></td>
						<td th:text="${{abreFechaCaixa.dataHoraFim}}"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.valorSangria,1,2)}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.valorInicioDinheiro,1,2)}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.valorInicioCartao,1,2)}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.totalDinheiro,1,2)}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.totalCartao,1,2)}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(abreFechaCaixa.valorTotal,1,2)}|"></td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="10">Nenhum fechamento de caixa encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<controle-estoque:pagination page="${pagina}"/>
		
	</div>

</section>
</body>
</html>