<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Cadastro de produto</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${produto.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/produtos(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${produto}" class="form-vertical"
				th:action="${produto.novo} ? @{/{tenantid}/produtos/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/produtos/{codigo}(codigo=${produto.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control  js-codigo-produto" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="form-group  col-lg-2" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
					<label class="control-label">Possui estoque</label>
					<div>
						<input type="checkbox" class="js-situacao  js-possui-estoque" data-size="small" data-off-color="danger" 
							data-on-text="Sim" data-off-text="Não" th:field="*{possuiEstoque}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				<div class="form-group  col-lg-1" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
					<label class="control-label">Vende</label>
					<div>
						<input type="checkbox" class="js-situacao  js-vende" data-size="small" data-off-color="danger" 
							data-on-text="Sim" data-off-text="Não" th:field="*{vende}" 
							th:disabled="${produto.detalhes}" th:readonly="*{not possuiEstoque}"/>
					</div>
				</div>
				<div class="col-md-12 col-lg-6  form-group y-required" controle-estoque:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<input id="descricao" type="text" class="form-control js-descricao-produto" th:field="*{descricao}" th:readonly="${not produto.novo}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3 y-required" controle-estoque:classforerror="tipoUnidadeMedida" th:if="${produto.novo}">
					<label for="tipoUnidadeMedida" class="control-label">Unidade de medida</label>
					<select id="tipoUnidadeMedida" class="form-control js-unidade-medida" th:field="*{tipoUnidadeMedida}" th:disabled="${produto.detalhes}">
	                    <option value="">Selecione a unidade de medida</option>
	                    <option th:each="tipoUnidadeMedida : ${tiposUnidadesDeMedida}" th:value="${tipoUnidadeMedida}"
	                    		th:text="${tipoUnidadeMedida.descricao}" th:data:sigla="${tipoUnidadeMedida}">Kg</option>
	                </select>
				</div>
				
				<div class="col-md-12 col-lg-3  form-group" th:unless="${produto.novo}">
					<input type="hidden" id="tipoUnidadeMedida" th:field="*{tipoUnidadeMedida}"/>
					<label for="tipoUnidadeMedidaText" class="control-label">Unidade de medida</label>
					<input id="tipoUnidadeMedidaText" type="text" class="form-control" th:data:sigla="*{tipoUnidadeMedida}"
						th:value="*{tipoUnidadeMedida.descricao}" readonly="readonly"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-2  js-container-local-fixo" th:classappend="${not produto.possuiEstoque} ? 'hidden'"
					 sec:authorize="hasRole('CADASTRAR_PRODUTO')">
					<label class="control-label">Local fixo</label>
					<div>
						<input type="checkbox" class="js-situacao  js-local-fixo" data-size="small" data-off-color="danger"
							data-on-text="Sim" data-off-text="Não" th:field="*{localFixo}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-lg-2  js-container-lanche-ou-prato" th:classappend="${produto.possuiEstoque} ? 'hidden'">
					<label class="control-label">Lanche ou prato</label>
					<div>
						<input type="checkbox" class="js-situacao  js-lanche-ou-prato" data-size="small" data-off-color="danger"
							data-on-text="Sim" data-off-text="Não" th:field="*{lancheOuPrato}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-lg-1  js-container-quilo-cozinha" 
					th:classappend="${produto.possuiEstoque || not produto.lancheOuPrato} ? 'hidden'">
					<label class="control-label">Por quilo</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger"
							data-on-text="Sim" data-off-text="Não" th:field="*{porQuilo}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-lg-2  js-container-quilo-cozinha" 
					th:classappend="${produto.possuiEstoque || not produto.lancheOuPrato} ? 'hidden'">
					<label class="control-label">Enviar para cozinha</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger"
							data-on-text="Sim" data-off-text="Não" th:field="*{enviarCozinha}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="form-group  col-lg-2  js-container-enviar-compra" 
					th:classappend="${not produto.possuiEstoque} ? 'hidden'">
					<label class="control-label">Enviar para compra</label>
					<div>
						<input type="checkbox" class="js-situacao js-enviar-compra" data-size="small" data-off-color="danger"
							data-on-text="Sim" data-off-text="Não" th:field="*{enviarCompra}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-5  form-group  y-required  js-container-valor-unitario" controle-estoque:classforerror="valorUnitario"
					th:classappend="${not produto.vende} ? 'hidden'">
					<label for="valorUnitario" class="control-label">Valor unitário</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorUnitario" type="text" class="form-control  js-decimal" 
							th:field="*{valorUnitario}" th:disabled="${produto.detalhes}"/>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-3  form-group  js-container-qtd-estoque" th:classappend="${not produto.possuiEstoque} ? 'hidden'">
					<label for="quantidadeEstoque" class="control-label">Quantidade no estoque</label>
					<div class="input-group">
						<div class="input-group-addon" th:text="${produto.tipoUnidadeMedida}"></div>
						<input id="quantidadeEstoque" type="text" class="form-control  js-plain" 
							th:field="*{quantidadeEstoque}" readonly="readonly"/>
					</div>
				</div>
			</div>
			
			<div class="row js-container-localizacao" th:classappend="${not produto.possuiEstoque} ? 'hidden'">
				<div class="form-group  col-lg-12" controle-estoque:classforerror="localizacoes">
					<fieldset>
						<legend>Localização(s)</legend>
						<input type="text" class="form-control  js-endereco-ou-descricao-localizacao-input" id="localizacoes" 
							placeholder="Pesquise e adicione a localização pelo endereço ou descrição" autofocus="autofocus"
							data:url="@{/{tenantid}/localizacoes/filtro-cadastro-produto(tenantid=${tenantid})}" 
							th:classappend="${produto.detalhes || not produto.localFixo} ? 'hidden'"/>

						<div class="js-tabela-localizacoes-container">
							<th:block th:replace="produto/TabelaLocalizacoesProduto"/>					
					    </div>
					</fieldset>
				</div>
			</div>
			
			<div class="row js-container-ingredientes" th:classappend="${not produto.lancheOuPrato} ? 'hidden'">
				<div class="form-group  col-lg-12" controle-estoque:classforerror="ingredientes">
					<fieldset>
						<legend>Ingrediente(s)</legend>
						<input type="text" class="form-control  js-nome-ingrediente-input" id="ingredientes" 
							placeholder="Pesquise e adicione o ingrediente pelo nome" autofocus="autofocus"
							data:url="@{/{tenantid}/ingredientes/filtro-cadastro-produto(tenantid=${tenantid})}" 
							th:classappend="${produto.detalhes} ? 'hidden'"/>

						<div class="js-tabela-ingredientes-container">
							<th:block th:replace="produto/TabelaIngredientesProduto"/>					
					    </div>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${produto.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12" style="text-align: center;">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					<input type="hidden" th:field="*{novaFoto}">
					<input type="hidden" th:field="*{urlFoto}">
				
					<label class="control-label" style="vertical-align: middle;">Foto</label>
					
					<div class="js-container-foto-produto" th:attr="data-url-fotos=@{/fotos}">
						<div id="upload-drop" class="y-upload" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
							<img th:src="@{/images/mini-loading.gif}" class="js-img-loading  hidden"/>
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="y-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${produto.detalhes}">Salvar</button>
		</form>
	</div>
	
	<th:block th:replace="hbs/TemplateAutocompleteLocalizacao"></th:block>
	<th:block th:replace="hbs/FotoProduto"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/min/yahto.autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/min/yahto.autocomplete-hbs.min.js}"></script>
	<script th:src="@{/javascripts/min/produto.upload-foto.min.js}"></script>
	<script th:src="@{/javascripts/min/produto.tabela-localizacoes.min.js}"></script>
	<script th:src="@{/javascripts/min/produto.tabela-ingredientes.min.js}"></script>
	<script th:src="@{/javascripts/min/produto.min.js}"></script>
</th:block>
</html>