<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de produtos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de produtos</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/produtos/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo produto</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${produtoFilter}" th:action="@{/{tenantid}/produtos(tenantid=${tenantid})}">
			<div class="row">
				<div class="form-group  col-lg-10">
					<label class="control-label" for="descricao">Descricao</label>
					<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-2">
					<label class="control-label">Estoque mínimo</label>
					<div>
						<div class="checkbox checkbox-inline">
							<input type="checkbox" id="estoqueMinimo" th:field="*{estoqueMinimo}"/>
							<label for="estoqueMinimo">A baixo do mínimo</label>
						</div>
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	                 	<th class="table-col-acoes" sec:authorize="hasRole('CADASTRAR_PRODUTO')">Ações</th>
	                 	<th class="table-produtos-col-foto">Foto</th>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-descricao">
	                		<controle-estoque:order page="${pagina}" field="descricao" text="Descrição"/>
	                	</th>
	                	<th class="table-col-unidade-medida">Unidade de Medida</th>
	                	<th class="table-col-valores">Valor unitário</th>
	                	<th class="table-col-valores">Quantidade estoque</th>
	                	<th class="table-col-valores" sec:authorize="hasRole('CADASTRAR_PRODUTO')">Valor em estoque</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="produto : ${pagina.conteudo}" 
						th:with="saldoEstoque=${{produto.quantidadeEstoque}}">
	                 	
	                 	<td class="text-center" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
									th:href="@{/{tenantid}/produtos/{codigo}(tenantid=${tenantid}, codigo=${produto.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/{tenantid}/produtos/{codigo}(tenantid=${tenantid}, codigo=${produto.codigo})}"
									data:objeto="${produto.descricao}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						<td class="text-center">
							<img th:src="${produto.urlThumbnailFoto}" class="img-responsive"/>
						</td>
						<td th:text="${produto.codigo}"></td>
						<td>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/{tenantid}/produtos/{codigo}(tenantid=${tenantid}, codigo=${produto.codigo})}"> 
								<span th:text="${produto.descricao}"></span>
							</a>
						</td>
						<td th:text="${produto.tipoUnidadeMedida.descricao}"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(produto.valorUnitario,1,2)}|"></td>
						<td th:text="|${#strings.replace(saldoEstoque,',000','')} ${produto.tipoUnidadeMedida}|"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(produto.valorTotalEstoque,1,2)}|" sec:authorize="hasRole('CADASTRAR_PRODUTO')"></td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="7">Nenhum produto encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <controle-estoque:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>