<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="table-responsive  y-tabela-simples">
		<table class="table  table-striped">
			<thead>
				<tr>
            		<th class="table-col-codigo">Código</th>
                	<th class="table-col-descricao">Descrição</th>
					<th class="table-col-acoes" sec:authorize="hasRole('CADASTRAR_PRODUTO')">Ações</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="ingrediente : ${ingredientes}">
					<td th:text="${ingrediente.codigo}"></td>
					<td th:text="${ingrediente.nome}"></td>
					<td class="text-center" sec:authorize="hasRole('CADASTRAR_PRODUTO')">
						<a class="btn  btn-link  btn-xs" title="Excluir" th:unless="${ingrediente.detalhes}"> 
							<span data:codigo-ingrediente="${ingrediente.codigo}" 
								class="glyphicon glyphicon-remove  js-exclusao-ingrediente">
							</span>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="3" th:if="${#lists.isEmpty(ingredientes)}">Nenhum ingrediente encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>