<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<div class="table-responsive">
		<table class="table  table-bordered">
			<thead>
				<tr>
					<th colspan="3" class="text-center" th:if="${novoProduto}">Localização</th>
					<th colspan="5" class="text-center" th:unless="${novoProduto}">Localização</th>
					<th colspan="2" class="text-center">Depósido</th>
            		
					<th rowspan="2"  class="table-col-acoes  js-col-exclusao-localizacao"  sec:authorize="hasRole('CADASTRAR_PRODUTO')">Ações</th>
				</tr>
				<tr>
            		<th class="table-col-codigo">Código</th>
            		<th class="table-col-cnpj">Endereço</th>
                	<th class="table-col-descricao">Descrição</th>
                	<th class="table-col-valores" th:unless="${novoProduto}">Estoque mínimo</th>
                	<th class="table-col-saldo-estoque" th:unless="${novoProduto}">Saldo</th>
                	
	                <th class="table-col-codigo">Código</th>
	                <th class="table-col-descricao">descricao</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="localizacao : ${localizacoes}" th:with="saldo=${{localizacao.saldoEstoque}}">
					<td th:text="${localizacao.codigo}"></td>
					<td th:text="${localizacao.endereco}"></td>
					<td th:text="${localizacao.descricao}"></td>
					<td th:text="|${{localizacao.estoqueMinimo}} ${localizacao.tipoUnidadeMedida}|"  th:unless="${novoProduto}"></td>
					<td th:text="|${#strings.replace(saldo,',000','')} ${localizacao.produto.tipoUnidadeMedida}|"  th:unless="${novoProduto}"></td>
					<td th:text="${localizacao.deposito.codigo}"></td>
					<td th:text="${localizacao.deposito.descricao}"></td>
					<td class="text-center  js-col-exclusao-localizacao"  sec:authorize="hasRole('CADASTRAR_PRODUTO')">
						<a class="btn  btn-link  btn-xs" title="Excluir"> 
							<span data:codigo-localizacao="${localizacao.codigo}" 
								class="glyphicon glyphicon-remove  js-exclusao-localizacao">
							</span>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="7" th:if="${#lists.isEmpty(localizacoes)}">Nenhuma localização encontrada</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>