<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de unidade de medida</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${unidadeMedida.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/unidades-medida(tenantid=${tenantid})}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${unidadeMedida}" class="form-vertical"
				th:action="${unidadeMedida.novo} ? @{/{tenantid}/unidades-medida/novo(tenantid=${tenantid})} : 
							@{/{tenantid}/unidades-medida/{codigo}(codigo=${unidadeMedida.codigo}, tenantid=${tenantid})}">
			<controle-estoque:message/>
			
			<input type="hidden" class="js-inputHiddenDetalhes" th:field="*{detalhes}"/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="form-group  col-md-12 col-lg-3 y-required" controle-estoque:classforerror="tipoUnidadeMedida">
					<label for="tipoUnidadeMedida" class="control-label">Unidade de medida</label>
					<select id="tipoUnidadeMedida" class="form-control js-unidade-medida" th:field="*{tipoUnidadeMedida}" th:disabled="${unidadeMedida.detalhes}">
	                    <option value="">Selecione a unidade de medida</option>
	                    <option th:each="tipoUnidadeMedida : ${unidadesDeMedida}" th:value="${tipoUnidadeMedida}"
	                    		th:text="${tipoUnidadeMedida.descricao}">Kg</option>
	                </select>
				</div>

				<div class="col-md-12 col-lg-2  form-group y-required  js-quantidade" controle-estoque:classforerror="quantidade">
					<label for="quantidade" class="control-label">Quantidade</label>
					<input id="quantidade" type="text" class="form-control  js-number" readonly="readonly" th:field="*{quantidade}"/>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<label for="observacao" class="control-label">Observação</label>
					<textarea class="form-control" id="observacao" rows="5" 
						th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?"
						th:disabled="${unidadeMedida.detalhes}">
					</textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" controle-estoque:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
				<div class="form-group  col-sm-3">
					<label class="control-label">Situação</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{situacao}" th:disabled="${unidadeMedida.detalhes}"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary" th:unless="${unidadeMedida.detalhes}">Salvar</button>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/min/unidade-medida.min.js}"></script>
</th:block>
</html>