<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:controle-estoque="http://controle-estoque.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de unidades de medida</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de unidades de medida</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/{tenantid}/unidades-medida/novo(tenantid=${tenantid})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova unidade de medida</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="aw-datatable-toolbar">
			<button class="btn btn-default  btn-xs  js-situacao-btn disabled" data:situacao="ATIVAR" 
				data:url="@{/{tenantid}/unidades-medida/situacao(tenantid=${tenantid})}">
				<span>Ativar</span>
			</button>
			
			<button class="btn btn-default  btn-xs  js-situacao-btn disabled" data:situacao="DESATIVAR" 
				data:url="@{/{tenantid}/unidades-medida/situacao(tenantid=${tenantid})}">
				<span>Desativar</span>
			</button>
		</div>
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-col-checkbox">
	            			<div class="checkbox  aw-checkbox-no-margin">
	            				<input type="checkbox" class="js-selecao-todos" th:disabled="${unidadesMedida.isEmpty()}"/>
	            				<label></label>
	            			</div>
	            		</th>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-descricao">Descrição</th>
	                	<th class="table-col-valores">Quantidade</th>
	                	<th>Situacao</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="unidadeMedida : ${unidadesMedida}">
						<td>
							<div class="checkbox  aw-checkbox-no-margin">
	            				<input type="checkbox" class="js-selecao" data:codigo="${unidadeMedida.codigo}">
	            				<label></label>
	            			</div>
						</td>
						<td th:text="${unidadeMedida.codigo}"></td>
	                 	<td class="text-left">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes" th:text="${unidadeMedida.tipoUnidadeMedida.descricao}"
									th:href="@{/{tenantid}/unidades-medida/{codigo}(tenantid=${tenantid}, codigo=${unidadeMedida.codigo})}"> 
							</a>
						</td>
						<td th:text="${{unidadeMedida.quantidade}}"></td>
						<td>
							<th:block th:if="${unidadeMedida.situacao}">
								<span class="label  label-success">Ativo</span>
							</th:block>
							<th:block th:if="${not unidadeMedida.situacao}">
								<span class="label  label-danger">Inativo</span>
							</th:block>
						</td>
	                </tr>
	                
	                <tr th:if="${unidadesMedida.isEmpty()}">
	                	<td colspan="3">Nenhuma unidade de medida encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/min/multiselecao.min.js}"></script>
	
	<script>
	$(function() {
		var multiSelecao = new Yahto.MultiSelecao();
		multiSelecao.iniciar();
	});
	</script>
</th:block>
</body>
</html>